.entire {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}
a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    -webkit-font-smoothing: antialiased;
}
body {
    line-height: inherit;
    margin: 0;
}
body {
    font-family: Pretendard;
}
html {
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-family: sans-serif;
    font-size: 12.5px;
}
:host, html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
:after, :before {
    --tw-content: "";
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}

.ScrollTopBtn_Wrapperr{
    width: 56px;
    height: 56px;
    bottom: 24px;
    right: 24px;
    position: fixed;
    width: 42px;
    height: 42px;
    right: 16px;
    bottom: calc(env(safe-area-inset-bottom) + 72px);
    z-index: 999;
    display: none;
}

.ScrollTop__Btn{
    width: 0px;
    height: 0px;
    border: 0px;
    border-radius: 50%;
    text-indent: -100em;
    overflow: hidden;
    padding: 0px;
    outline: none;
    position: absolute;
    background: transparent;
    z-index: 2;   
}
button, html input[type='button'], input[type='reset'], input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    padding: 8px !important;
}
[role=button], button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-variant-emoji: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    font-language-override: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.ScrollTopBtn_Wrapper span {
    position: relative;
}

.Icon {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
    transition-property: opacity, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    display: flex !important;
    opacity: 0 !important;
    margin: 0px !important;
}
svg:not(:root) {
    overflow: hidden;
}
.Icon svg {
    width: 24px;
    fill: rgb(13, 13, 13);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    }
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
svg{
    height: 18px;
    width: 22px;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
g{
    transform: translate(-1, 0);
}
:not(svg) {
    transform-origin: 0px 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
/**/

.CreatorCenterLayout__Wrapper{
   padding: 44px 0px 0px;
    max-width: 1160px;    
} 
.CreatorCenterLayout__Wrapper {
    background-color: white;
    width: 100%;
    margin: 0px auto;
    min-height: calc(-56px + 100vh);
    padding: 0px;
}
.CreatorCenterLayout__PageWrapper {
    margin: 0px auto;
    padding: 0px;
}
.CreatorCenterLayout__TabListWrapper {
    padding: 0px;
}
.CreatorCenterLayout__TabList {
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 0px;
    width: 100%;
    margin-bottom: 30px;
    }
.CreatorCenterLayout__StyledTabTrigger {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
    font: inherit;
    color: inherit;
}

.ui-ease-out {
    animation-timing-function: cubic-bezier(0, 0, .2, 1);
}
.ui-duration-300 {
    animation-duration: .3s;
}
.ui-ease-out {
    transition-timing-function: cubic-bezier(0, 0, .2, 1);
}
.ui-duration-300 {
    transition-duration: .3s;
    --tw-text-opacity: 1;
}
.ui-transition-colors {
    transition-duration: .15s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}
.ui-pb-\[14px\] {
    padding-bottom: 14px;
}
.ui-py-\[10px\] {
    padding-bottom: 15px;
    padding-top: 10px;
}
.ui-px-\[4px\] {
    padding-left: 4px;
    padding-right: 4px;
}
.ui-border-transparent {
    border-color: transparent;
}
.ui-border-gray-700 {
    --tw-border-opacity: 1;
    border-color: rgb(28 28 28 / var(--tw-border-opacity, 1));
}
.ui-border-b-2 {
    border-bottom-width: 2px;
}
.ui-truncate, .ui-whitespace-nowrap {
    white-space: nowrap;
}
.ui-flex-shrink-0 {
    flex-shrink: 0;
}
.ui-body1-bold-small {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}
[role=button], button {
    cursor: pointer;
}
.CreatorCenterLayout__StyledTabTrigger_2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    color: rgb(158, 158, 158);

    background-color:#fff;
}
.ui-border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(228 228 228 / var(--tw-border-opacity, 1));
}
.ui-border-b {
    border-bottom-width: 1px;
}
.ui-overflow-x-auto {
    overflow-x: auto;
}
.ui-flex {
    display: flex;
}
/**/
.Table__Wrapper {
    width: 100%;
}
.Table__Container {
    display: block;
    overflow-x: auto;
}
.Table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    table-layout: auto;
}
table {
    border-color: inherit;
    text-indent: 0;
}
.TableHeader__TableHeaderCell {
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    padding: 12px 19.5px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    margin-top: 100px !important;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    
}
.TableHeader__TableHeader {
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    padding: 12px 19.5px;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    margin-top: 100px !important;
    border-top: 1px solid rgb(240, 240, 240);
    border-bottom: 1px solid rgb(240, 240, 240);
    font-weight: bold;
    
}
.Table__Header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
}
