<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/header.css">
</head>
<body>
    <!-- 카테고리 hover 되었을 때 box-shadow 없애야함 -->
    <div class="Header-Layout">
        <div class="Header-Container">
            <div class="Header-UpperContent">
                <div class="UpperContent-LeftContent">
                    <!-- 나중에 경로 변경 -->
                    <div class="LeftContent-logo">
                        <img src="../../../static/images/haetsal-jangteo-logo.svg" alt="햇살장터 로고">
                    </div>
                    <div class="LeftContent-searchbar-container">
                        <input placeholder="검색할 상품을 입력해주세요" class="LeftContent-searchbar-input">
                        <div class="searchbar-iconwrap">
                            <svg class="LeftContent-searchbar-icon" width="76" height="76" viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="icon_etc"><path id="Union" fill-rule="evenodd" clip-rule="evenodd" d="M51.0342 53.8224C46.7715 56.9358 41.4329 58.6738 35.7196 58.4076C22.5649 57.7946 12.4051 46.7891 13.0271 33.8261C13.6491 20.863 24.8173 10.8513 37.972 11.4642C51.1267 12.0771 61.2865 23.0826 60.6645 36.0457C60.3992 41.5749 58.2152 46.5672 54.7768 50.427L66.125 62.7573L62.3569 66.125L51.0342 53.8224ZM55.2656 35.7941C54.7846 45.8189 46.1478 53.5613 35.9749 53.0873C25.8019 52.6133 17.945 44.1024 18.426 34.0776C18.907 24.0529 27.5438 16.3105 37.7168 16.7845C47.8897 17.2585 55.7466 25.7694 55.2656 35.7941Z" fill="black"></path></g></svg>
                        </div>
                    </div>
                </div>
                <div class="UpperContent-RightContent">
                    <button type="button" class="UpperContent-items-button">장바구니</button>
                    <!-- 분리용 svg -->
                    <svg width="1" height="16" viewBox="0 0 1 16" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="16" fill="#E4E4E4"></rect></svg>

                    <!-- 로그인 시 나타나야할 div display: flex -->
                    <div aria-label="찜한 상품" class="UpperContent-items-icon">
                        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.4988 6.81131L10.8016 5.27789C9.10432 3.74471 6.284 4.08858 4.73976 5.78906C2.80019 7.83319 2.80009 11.2928 4.8524 13.4559L12.499 20.9404L20.1452 13.4559C22.1975 11.2928 22.1976 7.83355 20.2578 5.78906C18.7136 4.08858 15.8934 3.74477 14.1961 5.27789L12.4988 6.81131ZM19.0031 12.3349C20.4713 10.7663 20.4252 8.29008 19.0971 6.89031L19.0851 6.87764L19.0733 6.86471C18.0257 5.71106 16.21 5.61505 15.2687 6.46513L12.4988 8.9676L9.72908 6.4652C8.78787 5.61512 6.97191 5.71104 5.92423 6.86471L5.91247 6.87766L5.90042 6.89036C4.5726 8.28976 4.52629 10.7663 5.99449 12.3349L12.499 18.7015L19.0031 12.3349Z" fill="#0D0D0D"></path></svg>
                    </div>
                    <div aria-label="알림" class="UpperContent-items-icon">
                        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.9998 7.5C20.9998 7.22386 21.2236 7 21.4998 7H26.4998C26.7759 7 26.9998 7.22386 26.9998 7.5V8.32218C33.2901 9.69552 37.9998 15.2978 37.9998 22V29.375L38.9351 37.4424C38.9696 37.7394 38.7374 38 38.4385 38H9.5611C9.26214 38 9.02999 37.7394 9.06443 37.4424L9.99978 29.375V22C9.99978 15.2978 14.7094 9.69552 20.9998 8.32218V7.5ZM13.1998 29.5599L12.5922 34.8H35.4073L34.7998 29.5599V22C34.7998 16.0353 29.9645 11.2 23.9998 11.2C18.0351 11.2 13.1998 16.0353 13.1998 22V29.5599Z" fill="#1C1C1C"></path><path d="M28.9998 40H19.9998C19.9998 41.6569 21.3429 43 22.9998 43H25.9998C27.6566 43 28.9998 41.6569 28.9998 40Z" fill="#1C1C1C"></path></svg>
                        <div class=""></div>
                    </div>

                    <!-- 로그인 시, class에 onlogin 달아줘야 함 -->
                    <div class="UserProfile-Button-Wrapper">
                        <div class="UserProfile-Button-Container">
                            <!-- 로그인시, 여기에 유저 프로필 이미지로 변경 -->
                            로그인/회원가입
                        </div>
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.99967 11.3335L2.66634 6.33353L3.73306 5.33349L7.99967 9.33342L12.2663 5.3335L13.333 6.33353L7.99967 11.3335Z" fill="#6D6D6D"></path></svg>

                        <!-- 유저 메뉴 -->
                        <div class="UserProfile-Menu-Wrapper">
                            <div class="UserProfile-MenuList">
                                <div class="MenuList-UserProfile">
                                    <img src="" alt="" class="MenuList-UserProfile-img">
                                    <div class="MenuList-UserProfile-name">
                                        <p class="MenuList-UserProfile-p"></p>
                                    </div>
                                </div>
                                <div class="MenuList-DividerBar"></div>
                                <div class="MenuList-Content mypage">프로필</div>
                                <div class="MenuList-DividerBar"></div>
                                <div class="MenuList-Content alert">알림</div>
                                <div class="MenuList-Content likeItems">내 찜 목록</div>
                                <div class="MenuList-Content editInfo">내 정보 수정</div>
                                <div class="MenuList-DividerBar"></div>
                                <div class="MenuList-Content logout">로그아웃</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Header-BottomContent">
                <div></div>
                <div class="BottomContent-Navigation">
                    <nav class="BottomContent-Category-Section">
                        <div class="Category-Section-Region">
                            <!-- 확장 카테고리가 열리면 색을 변경해줘야 함 -->
                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="4.25" y="4.58301" width="12.5" height="1.66667" fill="currentColor"></rect>
                                <rect x="4.25" y="9.16602" width="12.5" height="1.66667" fill="currentColor"></rect>
                                <rect x="4.25" y="13.75" width="12.5" height="1.66667" fill="currentColor"></rect>
                            </svg>
                            지역선택
                        </div>

                        <!-- 카테고리를 불러온다면 이걸 js에서 뿌려야함 -->
                        <div class="Category-Section-Category">축산물</div>
                        <div class="Category-Section-Category">농산물</div>
                        <div class="Category-Section-Category">수산물</div>
                        <div class="Category-Section-Category">반찬.장류</div>
                        <div class="Category-Section-Category">가공식품</div>
                        <div class="Category-Section-Category">건강식품</div>
                        <div class="Category-Section-Category">생활용품</div>
                        <div class="Category-Section-Category">주방용품</div>
                        <div class="Category-Section-Category">가전</div>
                    </nav>
                </div>
                <!-- 세부 카테고리 부분 -->
                <div class="Header-BottomExtended-Region">
                    <div class="BottomExtended-Region-Container">
                        <div class="BottomExtended-Region-Wrapper">
                            <!-- 뿌려야 하면 이 단위로 -->
                            <!------------------------>
                            <div class="BottomExtended-Region-Group">
                                <!-- ---- -->
                                <!-- 한 Item 당 4개 -->
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/Korea_Map.svg.png" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">전체</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/seoul.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">서울</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/gyeonggi.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">경기</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/incheon.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">인천</div>
                                </div>
                            </div>
                            <!------------------->
                            <!------------------------>
                            <div class="BottomExtended-Region-Group">
                                <!-- ---- -->
                                <!-- 한 Item 당 4개 -->
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/gangwon.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">강원</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/chungbuk.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">충북</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/chungnam.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">충남</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/daejeon.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">대전</div>
                                </div>
                            </div>
                            <!------------------->
                            <!------------------------>
                            <div class="BottomExtended-Region-Group">
                                <!-- ---- -->
                                <!-- 한 Item 당 4개 -->
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/gyeongbuk.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">경북</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/gyeongnam.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">경남</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/busan.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">부산</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/ulsan.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">울산</div>
                                </div>
                            </div>
                            <!------------------->
                            <!------------------------>
                            <div class="BottomExtended-Region-Group">
                                <!-- ---- -->
                                <!-- 한 Item 당 4개 -->
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/daegu.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">대구</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/jeonbuk.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">전북</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/jeonnam.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">전남</div>
                                </div>
                                <div class="BottomExtended-Region-Item">
                                    <div class="BottomExtended-Region-ItemIcon">
                                        <!-- 이미지 넣어야함 -->
                                        <img src="../../../static/images/region/gwangju.svg" alt="로고">
                                    </div>
                                    <div class="BottomExtended-Region-ItemText">광주</div>
                                </div>
                            </div>
                            <!------------------->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../../static/js/header/header.js"></script>
</html>