<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/headerModal.css">
</head>
<body>
    <div class="SearchBox-Container">
        <div class="SearchBox-wrapper">
            <div class="SearchHeader-search">
                <div class="SearchHeader-search-input">
                    <form action="post" class="SearchHeader-search-form">
                        <div class="search-icon icon">
                            <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M21.8113 37.22C13.3064 37.22 6.4025 30.3161 6.4025 21.8113C6.4025 13.3064 13.3064 6.4025 21.8113 6.4025C30.3161 6.4025 37.22 13.3064 37.22 21.8113C37.22 30.3161 30.3161 37.22 21.8113 37.22ZM45.3246 42.2229L37.22 34.1172C44.0239 25.6124 42.6231 13.1063 34.1182 6.4025C30.9174 3.70097 26.714 2.20011 22.5117 2H21.8113H21.1109C10.805 2.40023 2.40023 10.7049 2 21.0108V21.7112V22.3115C2.30017 33.2177 11.4053 41.8226 22.3115 41.5225C26.614 41.4224 30.7163 39.9215 34.1182 37.22L42.2229 45.3246C43.1234 46.2251 44.4251 46.2251 45.3246 45.3246C46.2251 44.5242 46.2251 43.1224 45.3246 42.2229Z"></path></svg>
                        </div>
                        <input placeholder="원하는 상품을 입력해주세요" type="search" class="search-input">
                        <input type="submit">
                    </form>

                    <button type="button" class="search-button-reset">
                        <!-- 검색어 리셋 버튼 js에서 display:flex으로 변경필요 -->
                        <span>
                            <div name="remove" class="icon">
                                <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.37138 39.6284C-0.123794 31.0162 -0.123794 16.9963 8.37138 8.38406C16.9665 -0.12802 30.9585 -0.12802 39.5537 8.38406C48.1488 16.9963 48.1488 30.917 39.5537 39.5283C30.9585 48.1405 17.0664 48.1405 8.37138 39.6284ZM23.9625 21.1021L17.1664 14.2924C16.3668 13.4913 15.0676 13.4913 14.268 14.2924C13.4685 15.0936 13.4685 16.3954 14.268 17.1976L21.0642 24.0062L14.268 30.8159C13.4685 31.617 13.4685 32.9199 14.268 33.721C15.0676 34.5212 16.3668 34.5212 17.1664 33.721L23.9625 26.9114L30.7587 33.721C31.5582 34.5212 32.8575 34.5212 33.657 33.721C34.4566 32.9199 34.4566 31.617 33.657 30.8159L26.9608 24.0062L33.757 17.1976C34.5565 16.3954 34.5565 15.0936 33.757 14.2924C32.9574 13.4913 31.6581 13.4913 30.8586 14.2924L23.9625 21.1021Z"></path></svg>
                            </div>
                        </span>
                    </button>
                </div>
                <button type="button" class="SearchHeader-search-close">
                    <div class="close-icon icon">
                        <svg width="10" height="10" fill="#1C1C1C" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M4.28544 5.00257L2.01916 2.73642C1.82521 2.54248 1.82974 2.23083 2.01598 2.02765C2.21448 1.81131 2.5294 1.8394 2.72795 2.02108L2.72969 2.02268L4.99738 4.2905L7.26357 2.02431C7.4575 1.83056 7.7691 1.83508 7.97226 2.02115C8.1886 2.21946 8.16077 2.53473 7.97878 2.73311L7.97723 2.73479L5.70945 5.00257L7.97564 7.26876C8.16953 7.46283 8.16504 7.77425 7.97884 7.97756L7.97724 7.9793L7.97557 7.98097C7.78164 8.17472 7.47008 8.17023 7.26691 7.98417L7.26519 7.98259L4.99738 5.71465L2.73129 7.981C2.53725 8.17469 2.22572 8.17025 2.02253 7.98417L2.01908 7.98101L2.01592 7.97756C1.82971 7.77425 1.82526 7.46279 2.01916 7.26872L4.28544 5.00257Z"></path></svg>
                    </div>
                </button>
            </div>
            <!-- 분리선 -->
            <div class="SearchHeader-search-divider"></div>
            
            <div class="AutoComplete-Container">
                <div class="AutoComplete-Result-Wrapper">
                    <div class="AutoComplete-Result-Container">
                        <!-- 검색 내용이 없을 시, 인기 검색어 나열 -->
                        <div class="FavoritSearchlList-Container">
                            <div class="FavoritSearchlList-TitleSection">
                                <div class="FavoritSearchlList-Title">
                                    인기 검색어
                                </div>
                                <div class="FavoritSearchlList-UpdateDate">
                                    <!-- 언재 기준인지 js로 넣어줘야함 -->
                                    이렇게 보임
                                </div>
                            </div>
                            <ul class="FavoritSearchlList-KeywordList">
                                <!-- 여기도 js로 넣어줘야함 10개 까지만 -->
                                <!--  -->
                                <li class="FavoritSearchlList-Keyword">
                                    <div class="FavoritSearchlList-Keyword-ContentSection">
                                        <div class="FavoritSearchlList-Keyword-Rank">1</div>
                                        <div class="FavoritSearchlList-Keyword-Text">참고용</div>
                                    </div>
                                </li>
                                <!--  -->
                                <li class="FavoritSearchlList-Keyword">
                                    <div class="FavoritSearchlList-Keyword-ContentSection">
                                        <div class="FavoritSearchlList-Keyword-Rank">1</div>
                                        <div class="FavoritSearchlList-Keyword-Text">참고용</div>
                                    </div>
                                </li>
                                <li class="FavoritSearchlList-Keyword">
                                    <div class="FavoritSearchlList-Keyword-ContentSection">
                                        <div class="FavoritSearchlList-Keyword-Rank">1</div>
                                        <div class="FavoritSearchlList-Keyword-Text">참고용</div>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                        
                        <!-- 검색 내용이 있을 시, 연관된 가게나, 연관 검색어 나열 -->
                        <!-- js에서 뿌려줘야함 -->
                        <!-- 참고용 -->
                        <dl class="AutoComplete-ResultList">
                            <!-- 뿌려야하는 dd(가게정보) -->
                            <dd>
                                <div class="SearchMarket-Container">
                                    <div class="SearchMarket-Wrapper">
                                        <div class="SearchMarket-Region">
                                            <!-- 가게 소속 지역 -->
                                            <span>서울특별시</span>
                                        </div>
                                    </div>
                                    <div class="SearchMarket-Name">
                                        <!-- 가게 이름 -->
                                        <span class="SearchMarket-Highlight">연관</span>
                                        가게이름1
                                    </div>
                                </div>
                            </dd>
                            <dd>
                                <div class="SearchMarket-Container">
                                    <div class="SearchMarket-Wrapper">
                                        <div class="SearchMarket-Region">
                                            <!-- 가게 소속 지역 -->
                                            <span>경기도</span>
                                        </div>
                                    </div>
                                    <div class="SearchMarket-Name">
                                        <!-- 가게 이름 -->
                                        <span class="SearchMarket-Highlight">연관</span>
                                        가게이름2
                                    </div>
                                </div>
                            </dd>

                            <!-- 분리용 div, 기준 삼아서 앞, 뒤에 dd 뿌리기 -->
                            <div class="AutoComplete-Divider"></div>

                            <!-- 뿌려야하는 dd(연관 검색어) -->
                            <dd>
                                <span class="SearchedItem-ResultList">
                                    <div class="SearchedItem-icon icon">
                                        <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.0886 38.8C12.7939 38.8 5.29813 31.3 5.29813 22.1C5.29813 12.8 12.7939 5.4 22.0886 5.4C31.3833 5.4 38.879 12.9 38.879 22.1C38.879 31.3 31.2834 38.8 22.0886 38.8ZM45.4753 43.1L37.28 35C40.3782 31.401 42.0772 26.8 42.0772 22C42.0772 10.9 33.1823 2 22.0886 2C10.9949 2 2 11 2 22C2 33 10.9949 42 22.0886 42C26.8859 42 31.4832 40.3 35.0812 37.3L43.2765 45.5C43.5764 45.8 43.9762 46 44.3759 46C44.7757 46 45.1755 45.8 45.4753 45.5C46.1749 44.901 46.1749 43.8 45.4753 43.1Z"></path></svg>
                                    </div>
                                    <!-- em에 연관된 단어 넣어야함 -->
                                    <span class="SearchedItem-Highlight-Keyword">
                                        <em>연관</em>
                                        검색어
                                    </span>
                                </span>
                            </dd>
                            <dd>
                                <span class="SearchedItem-ResultList">
                                    <div class="SearchedItem-icon icon">
                                        <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M22.0886 38.8C12.7939 38.8 5.29813 31.3 5.29813 22.1C5.29813 12.8 12.7939 5.4 22.0886 5.4C31.3833 5.4 38.879 12.9 38.879 22.1C38.879 31.3 31.2834 38.8 22.0886 38.8ZM45.4753 43.1L37.28 35C40.3782 31.401 42.0772 26.8 42.0772 22C42.0772 10.9 33.1823 2 22.0886 2C10.9949 2 2 11 2 22C2 33 10.9949 42 22.0886 42C26.8859 42 31.4832 40.3 35.0812 37.3L43.2765 45.5C43.5764 45.8 43.9762 46 44.3759 46C44.7757 46 45.1755 45.8 45.4753 45.5C46.1749 44.901 46.1749 43.8 45.4753 43.1Z"></path></svg>
                                    </div>
                                    <!-- em에 연관된 단어 넣어야함 -->
                                    <span class="SearchedItem-Highlight-Keyword">
                                        <em>연관</em>
                                        검색어
                                    </span>
                                </span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../../../static/js/header/headerModal.js"></script>
</html>