<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/footer.css">
</head>
<body>
    <div class="Footer-Layout">
        <div class="Footer-LinkWrapper">
            <div class="Link-SiteMap">
                <div class="Link-SitemapColumn" style="min-width: 160px;">
                    <div class="Link-SitemapTitle">햇살장터</div>
                    <a href="" class="Link-SitemapLink">
                        <!-- 새로운 공지사항이 생기면 ::after의 opacitiy 1로 변경 -->
                        <span name="notice" class="Link-SitemapSpan">공지사항</span>
                    </a>
                    <a href="" class="Link-SitemapLink">
                        <span class="Link-SitemapSpan">서비스 소개</span>
                    </a>
                    <a href="" class="Link-SitemapLink">
                        <span class="Link-SitemapSpan">문의사항</span>
                    </a>
                </div>
                <div class="Link-SitemapColumn" style="min-width: 160px;">
                    <div class="Link-SitemapTitle">장터소개</div>
                    <a href="" class="Link-SitemapLink">
                        <span class="Link-SitemapSpan">장터 목록</span>
                    </a>
                </div>
                <div class="Link-SitemapColumn" style="min-width: 160px;">
                    <div class="Link-SitemapTitle">정책</div>
                    <a href="" class="Link-SitemapLink">
                        <span class="Link-SitemapSpan">이용약관</span>
                    </a>
                    <a href="" class="Link-SitemapLink">
                        <span class="Link-SitemapSpan">개인정보처리방침</span>
                    </a>
                    <a href="" class="Link-SitemapLink">
                        <span class="Link-SitemapSpan">입점 심사 기준</span>
                    </a>
                    <a href="" class="Link-SitemapLink">
                        <span class="Link-SitemapSpan">사업자 심사 기준</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="Footer-CompanyWrapper">
            <div class="Footer-CompanyInfo">
                <div class="CompanyInfo-Text">
                    <strong>회사명</strong>
                    <span>(주) 햇살장터</span>
                </div>
                <div class="CompanyInfo-Text">
                    <strong>주소</strong>
                    <span>서울특별시 깊숙하진 않지만 그렇다고 너무 가깝지도 않은 어딘가</span>
                </div>
                <div class="CompanyInfo-Text">
                    <strong>대표</strong>
                    <span>홍길동</span>
                </div>
                <div class="CompanyInfo-Text">
                    <strong>사업자등록번호</strong>
                    <span>123-45-67890</span>
                </div>
                <div class="CompanyInfo-Text">
                    <strong>통신판매업 신고번호</strong>
                    <span>2026-서울강남-2124호</span>
                </div>
                <div class="CompanyInfo-Text">
                    <strong>대표번호</strong>
                    <span>02-1234-5678</span>
                </div>
                <div class="CompanyInfo-Text">
                    <strong>메일주소</strong>
                    <span>example123@example.com</span>
                </div>
                <div class="CompanyInfo-TextLast">
                    @ 2026 Example Inc.
                </div>
            </div>
            <div class="Footer-ShareButton-Section">
                <a href="" class="Footer-ShareButton">
                    <!-- name에 맞는 svg 삽입 필요 -->
                    <div name="kakaotalk" class="ShareButton-icon">
                        <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 4C11.8 4 2 11.6865 2 21.0924C2.4 27.5653 6.4 33.1279 12.2 35.5552L10.1 43.2417C10 43.444 10.1 43.7474 10.3 43.8475C10.5 44.0508 10.9 44.0508 11.1 43.8475L20 37.8814C21.3 38.0837 22.6 38.1848 24 38.1848C36.1 38.1848 46 30.4983 46 21.0924C46 11.6865 36.2 4 24 4Z"></path></svg>
                    </div>
                </a>
                <a href="" class="Footer-ShareButton">
                    <!-- name에 맞는 svg 삽입 필요 -->
                    <div name="kakaotalk" class="ShareButton-icon">
                        <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 4C11.8 4 2 11.6865 2 21.0924C2.4 27.5653 6.4 33.1279 12.2 35.5552L10.1 43.2417C10 43.444 10.1 43.7474 10.3 43.8475C10.5 44.0508 10.9 44.0508 11.1 43.8475L20 37.8814C21.3 38.0837 22.6 38.1848 24 38.1848C36.1 38.1848 46 30.4983 46 21.0924C46 11.6865 36.2 4 24 4Z"></path></svg>
                    </div>
                </a>
                <a href="" class="Footer-ShareButton">
                    <!-- name에 맞는 svg 삽입 필요 -->
                    <div name="kakaotalk" class="ShareButton-icon">
                        <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 4C11.8 4 2 11.6865 2 21.0924C2.4 27.5653 6.4 33.1279 12.2 35.5552L10.1 43.2417C10 43.444 10.1 43.7474 10.3 43.8475C10.5 44.0508 10.9 44.0508 11.1 43.8475L20 37.8814C21.3 38.0837 22.6 38.1848 24 38.1848C36.1 38.1848 46 30.4983 46 21.0924C46 11.6865 36.2 4 24 4Z"></path></svg>
                    </div>
                </a>
                <a href="" class="Footer-ShareButton">
                    <!-- name에 맞는 svg 삽입 필요 -->
                    <div name="kakaotalk" class="ShareButton-icon">
                        <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 4C11.8 4 2 11.6865 2 21.0924C2.4 27.5653 6.4 33.1279 12.2 35.5552L10.1 43.2417C10 43.444 10.1 43.7474 10.3 43.8475C10.5 44.0508 10.9 44.0508 11.1 43.8475L20 37.8814C21.3 38.0837 22.6 38.1848 24 38.1848C36.1 38.1848 46 30.4983 46 21.0924C46 11.6865 36.2 4 24 4Z"></path></svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>