* {
    box-sizing: border-box;
    word-break: keep-all;
    overflow-wrap: anywhere;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-synthesis: none;
}

p {
    margin: 0;
    padding: 0;
}

/* 사이드 바 부분 */
.Main-Layout {
    display: flex;
    width: 100%;
    height: 100svh;
    padding: 8px;
    gap: 8px;
    background-color: white;
    align-items: flex-start;
}

.SideBar-Wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    max-width: 280px;
    transition: all .3s;
}

.SideBar-Header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.Header-HeaderContainer {
    display: flex;
    height: 56px;
    gap: 8px;
    padding: 8px 4px 8px 8px;
    align-items: center;
    align-self: stretch;
    background: white;
}

.Header-Logo {
    display: flex;
    align-items: center;
}

.Header-Logo img {
    display: inline-flex;
    height: 40px;
    padding: 0px;
    cursor: inherit;
    color: #121314;
    align-items: center;
    justify-content: center;
    transition: transform .15s cubic-bezier(.68, -.55, .265, 1.55);
    mask: none;
}

.Header-Title {
    display: flex;
    max-width: 360px;
    max-height: 40px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0 8px 0 12px;
    flex: 1 0 0;
    cursor: pointer;
    border-radius: 12px;
    gap: 8px;
    background: #8c9fba0f;
}

.Header-TitleContent {
    display: flex;
    flex: 1 0 0;
    align-items: center;
}

.Header-TitleContent p {
    display: -webkit-box;
    overflow: hidden;
    word-break: normal !important;
    font-size: 13px;
    font-weight: 400;
    text-overflow: ellipsis;
    letter-spacing: -.26px;
    line-height: 18px;
}

.SideBar-Body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    padding-block: 8px;
    align-items: flex-start;
    align-self: stretch;
    scrollbar-width: none;
}

.SideBar-MenuContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.SideBar-Menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.SideBar-Menu a {
    text-decoration: none;
}

.SideMenu-Wrapper {
    display: flex;
    width: 100%;
    gap: 12px;
    padding: 12px;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    background: #0000;
    transition: transform .15s cubic-bezier(.68, -.55, .265, 1.55);
}

.SideMenu-Icon {
    display: inline-flex;
    height: auto;
    padding: 6.4px;
    border-radius: 6.4px;
    cursor: inherit;
    align-items: center;
    justify-content: center;
    background: #8c9fba14;
    color: #12131466;
    transition: transform .15s cubic-bezier(.68, -.55, .265, 1.55);
}

.current {
    background: #121314;
    color: white;
}

.SideMenu-Content {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;

}

.SideMenu-Title {
    color: #121314;
    user-select: none;
    margin: 0;
    letter-spacing: -.26px;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
}

.SideMenu-SubTitle {
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #12131499;
    white-space: pre-line;
    user-select: none;
    letter-spacing: -.24px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

/* 메인 컨탠츠 부분 */
.Main-Wrapper {
    display: flex;
    flex: 1 0 0;
    border-radius: 16px;
    min-width: 480px;
    background: #f1f4f8;
    border: 1px solid #fff0;
    align-items: center;
    flex-direction: column;
    align-self: stretch;
}

.Main-Container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1 0 0;
    outline: none;
    padding: 16px;
    align-items: center;
    align-self: stretch;
    overflow-y: auto;
    row-gap: 16px;
    scrollbar-width: none;
}

.DashBoard-Wrapper {
    display: flex;
    flex: 1 0 0;
    gap: 16px;
    justify-content: center;
    align-self: stretch;
}

.DashBoard-Container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 16px;
    max-width: 1000px;
    align-items: flex-start;
    align-self: stretch;
}

.userlist {
    flex-direction: column;
}

.DashBoard-HeaderContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    max-height: 130px;
    transition: none;
    visibility: visible;
    opacity: 1;
    gap: 12px;
}

.HeaderContent-Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 600px;
    padding: 12px;
    border: 1px solid #fff0;
    border-radius: 16px;
    gap: 10px;
    background: #fff;
}

.HeaderContent-SearchPart {
    display: flex;
    flex: 1 0 0;
    align-items: center;
}


.SeacrchPart-InputWrapper {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    padding: 4px 20px 4px 12px;
    align-items: flex-start;
    justify-content: center;
}

.SeacrchPart-Input {
    display: flex;
    width: 100%;
    font-weight: 400;
    border: none;
    outline: none;
    color: #121314;
}

.SeacrchPart-SelectWrapper {
    cursor: pointer;
    display: flex;
    flex: 1 0 0;
    max-width: 140px;
    padding: 4px 20px;
    flex-direction: column;
    justify-content: center;
    border-color: #18253d0f;
    border-left: 1px solid;
}

.SeacrchPart-Title {
    color: #12131499;
    letter-spacing: -.24px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.SeacrchPart-Value {
    color: #121314;
    letter-spacing: -.24px;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.HeaderContent-SearchButton {
    display: inline-flex;
    cursor: pointer;
    border-radius: 12px;
    background-color: #121314;
    width: 48px;
    max-height: 48px;
    min-height: 48px;
    padding: 14px;
    align-items: center;
    justify-content: center;
    backdrop-filter: none;
    transition: transform .15s cubic-bezier(.68,-.55,.265,1.55);
}

.DabshBoard-MainContent {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    min-width: 480px;
    background: #fff;
    border-radius: 16px;
    align-items: center;
    flex-direction: column;
    border: 1px solid #fff0;
    padding-bottom: 20px;
}
 
.SearchButton-Icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 20px;
    padding: 0px;
    border-radius: 0px;
    transition: transform .15s cubic-bezier(.68,-.55,.265,1.55);
}

.MainContent-Wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.MainContent-Title {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 20px;
}

.MainContent-TitleText {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -.36px;
}

.MainContent-TitleLink {
    color: rgb(158, 158, 158);
    text-decoration: underline;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -.36px;
    cursor: pointer;
}

.MainContent-ItemList {
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.ItemList-Wrapper {
    display: flex;
    flex: 1;
    width: 100%;
    min-width: 290px;
    gap: 12px;
    align-items: flex-start;
}

.ItemList-Container {
    display: flex;
    flex: 1;
    width: 100%;
    min-width: 290px;
    gap: 12px;
    align-items: center;
}

.ItemList-Content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 12px;
}

.ItemList-LeftInfo {
    display: flex;
    flex-direction: column;
    max-width: 292px;
    min-width: 160px;
    width: initial;
    cursor: pointer;
}

.ItemList-ItemName {
    color: #121314;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -.26px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.ItemList-ItemNumber {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ItemList-ItemNumber p {
    display: -webkit-box;
    overflow: hidden;
    color: #12131499;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.24px; 
}

.ItemList-InfoList {
    display: flex;
    gap: 4px;
}

.InfoList-Wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70px;
    user-select: none;
}

.InfoList-Field {
    color: #121314;
    align-self: stretch;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -.24px; 
}

.InfoList-Value {
    width: auto;
    color: #121314;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -.24px; 
}

.MainContenr-BottomButton {
    width: 90%;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 6px 4px;
    color: rgb(158, 158, 158);
    border: 1px solid rgb(158, 158, 158);
    border-radius: 4px;
    background: white;
    cursor: pointer;
}

.MainContenr-BottomButton:hover {
    color: white;
    background-color: rgb(158, 158, 158);
}

/* 메인 우측 사이트 div 부분 */
.DabshBoard-SideContent {
    display: flex;
    position: sticky;
    flex-direction: column;
    align-items: flex-start;
    top: 0px;
    width: 320px;
    gap: 16px;
}

.SideContent-ContentBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-radius: 16px;
    border: 1px solid #fff0;
    background-color: #fff;
}

.ContentBox-HeaderWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding: 20px 16px;
    align-items: flex-start;
}

.ContentBox-Header {
    display: flex;
    gap: 4px;
    padding-inline: 8px;
    flex-direction: column;
    align-items: flex-start;
}

.ContentBox-Title {
    color: #121314;
    white-space: pre-line;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -.48px; 
}

.ContentBox-Count {
    margin-top: 10px;
    color: rgb(255, 87, 87);
    white-space: pre-line;
    font-size: 20px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -.48px;  
}

.ContentBox-Button {
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
    padding: 5px 0px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid rgb(119, 119, 119);
    color: rgb(119, 119, 119);
}

.ContentBox-Button:hover {
    background-color: rgb(119, 119, 119);
    color: white;
}

/* 토글용 css */
.off {
    display: none;
}

.isClicked {
    transform: scale(0.9);
}