a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

.Footer-Layout {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
}


/* 상단 네비게이션 부분 */
.Footer-LinkWrapper {
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 220px;
    min-height: 178px;
    padding: 0px 16px;
}

.Link-SiteMap {
    flex-direction: row;
    margin-top: 24px;
    display: flex;
}

.Link-SitemapColumn {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.Link-SitemapTitle {
    display: flex;
    width: 100%;
    max-height: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: rgb(61, 61, 61);
}

.Link-SitemapLink {
    margin-top: 12px;
    font-size: 14px;
    line-height: 22px;
    margin-right: 0px;
    position: relative;
    display: inline-flex;
    color: rgb(109, 109, 109);
    font-weight: 500;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}

.Link-SitemapSpan {
    position: relative;
}

.Link-SitemapSpan:hover {
    color: rgb(61, 61, 61);
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.Link-SitemapSpan::after {
    opacity: 0;
    position: absolute;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    top: -2px;
    right: -16px;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(240, 87, 87);
    content: "N";
    font-size: 8px;
    font-weight: bold;
}

/* 하단 회사정보 부분 */
.Footer-CompanyWrapper {
    width: 1160px;
    margin-top: 18px;
    flex-direction: row;
    border-top: 1px solid rgb(240, 240, 240);

    padding: 0px 16px;
    margin-bottom: 16px;
    display: flex;
    font-size: 13px;
}

.Footer-CompanyInfo {
    padding-top: 20px;
    min-width: 800px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    place-content: flex-start;
}

.CompanyInfo-Text {
    font-size: 13px;
    height: 20px;
    line-height: 20px;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(61, 61, 61);
}

.CompanyInfo-Text strong {
    margin-right: 5px;
    display: flex;
    height: 20px;
    flex-direction: row;
    font-weight: 500;
    line-height: 20px;
    align-items: flex-start;
    white-space: nowrap;
}

.CompanyInfo-Text span {
    margin-right: 8px;
    display: flex;
    height: 20px;
    flex-direction: row;
    line-height: 21px;
    align-items: flex-start;
    color: rgb(109, 109, 109);
    white-space: nowrap;
}

.CompanyInfo-TextLast {
    margin: 0px 0px 72px;
    display: block;
    width: 100%;
    color: rgb(158, 158, 158);
    font-size: 13px;
    line-height: 20px;
}

.Footer-ShareButton-Section {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.Footer-ShareButton {
    position: relative;
    margin-right: 10px;
    display: inline-flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 32px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.Footer-ShareButton:hover {
    border: 1px solid rgb(109, 109, 109);
}

.ShareButton-icon {
    padding-bottom: 1px;
    padding-left: 1px;

    display: inline-flex;
    align-items: center;
}

.ShareButton-icon svg {
    display: flex;
    transform: scale(1.4);
    fill: rgb(61, 61, 61);
    width: 1em;
    height: 1em;
}
