*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

body {
    line-height: inherit;
    margin: 0;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    background-color: transparent;
    background-image: none;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

input[type=submit] {
    display: none;
}

/* 헤더 부분 */
.Header-Layout {
    padding: 0px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgb(255, 255, 255);
    -webkit-box-pack: center;
    justify-content: center;
    z-index: 300;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 6px;
}

.Header-Container {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.Header-UpperContent {
    max-width: 1160px;
    padding: 10px 0px;
    position: relative;
    display: flex;
    width: 100%;
    max-height: 72px;
    justify-content: space-between;
}

/* 헤더 상단 부분 */
.UpperContent-LeftContent {
    display: flex;
    align-items: center;
    gap: 20px;
}

.LeftContent-logo {
    cursor: pointer;
}

.LeftContent-logo img {
    width: 122px;
    height: 32px;
    object-fit: cover;
}

.LeftContent-searchbar-container {
    width: 258px;
    z-index: 300;
    position: relative;
    padding: 6px 12px 6px 16px;
    height: 36px;
    display: flex;
    border-radius: 8px;
    background: rgb(240, 240, 240);
}

.LeftContent-searchbar-input {
    width: 100%;
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 150%;
    background: rgb(240, 240, 240);
    color: rgb(158, 158, 158);
    outline: none; 
}

.searchbar-iconwrap {
    position: absolute;
    right: 12px;
    display: inline-flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.searchbar-iconwrap svg {
    color: black;
}

.UpperContent-RightContent {
    gap: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.UpperContent-items-button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
}

.UpperContent-items-icon {
    display: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.UpperContent-RightContent svg {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease-in-out;
}

.UpperContent-items-icon svg {
    width: 24px;
    height: 24px;
}

.UserProfile-Button-Wrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 40px;
    background: transparent;
    padding: 4px 6px 4px 4px;
    cursor: pointer;
}

.onlogin {
    background: rgb(248, 248, 248);
    padding: 4px 6px 4px 4px;
}

.UserProfile-Button-Container {
    position: relative;
    min-width: 30px;
    max-height: 44px;
    padding: 0px;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
}

.UserProfile-Button-Container img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgb(228, 228, 228);
}

/* 유저 메뉴바 부분 */
.UserProfile-Menu-Wrapper {
    inset: 0px;
    z-index: 700;
    background: white;
    display: none;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    top: 50px;
    right: 0px;
    left: auto;
    min-height: 380px;
    max-height: 85vh;
    overflow-y: auto;
    position: absolute;
    width: 261px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 16px 0px, rgba(0, 0, 0, 0.06) 0px 5px 20px 0px;
    padding: 8px 0px;
    height: fit-content;
}

.UserProfile-MenuList {
    overflow-y: auto;
    padding-bottom: 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    user-select: none;
    z-index: 700;
    scrollbar-width: none;
}

.MenuList-UserProfile {
    display: flex;
    align-items: center;
    padding: 16px;
    gap: 12px;
}

.MenuList-UserProfile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(228, 228, 228);
}

.MenuList-UserProfile-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1 1 0%;
    min-width: 0px;
}

.MenuList-UserProfile-p {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.MenuList-DividerBar {
    margin: 8px 16px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(228, 228, 228);
}

.MenuList-Content {
    padding: 12px 16px;
    display: flex;
    width: 100%;
    height: 48px;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    color: rgb(28, 28, 28);
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.MenuList-Content:hover {
    background-color: rgba(110, 110, 110, 0.1);
}

.logout:hover {
    color: red;
}

/* 헤더 하단 부분 */
.Header-BottomContent {
    position: relative;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 52px;
    z-index: 300;
}

.BottomContent-Navigation {
    max-width: 1160px;
    padding: 0px;

    position: relative;
    display: flex;
    width: 100%;
    min-height: 52px;
    background: rgb(255, 255, 255);
    align-items: center;
    justify-content: space-between;
}

.BottomContent-Category-Section {
    gap: 30px;
    padding: 0px;

    position: relative;
    display: flex;
    gap: 20px;
    padding: 0px 16px;
    width: 100%;
    min-height: 52px;
    align-items: center;
    flex-wrap: nowrap;
    user-select: none;
    overflow-x: auto;
}

.Category-Section-Region {
    min-height: 52px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    line-height: 120%;
    color: rgb(28, 28, 28);
    flex-shrink: 0;
    transition: 0.2s ease-in-out;
}

.Category-Section-Region:hover {
    color: rgb(254, 95, 76);
    transition: 0.2s ease-in-out;
}

.Category-Section-Category {
    white-space: nowrap;
    min-height: 52px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
    cursor: pointer;
    flex-shrink: 0;
    transition: 0.2s ease-in-out;
}

.Category-Section-Category:hover {
    color: rgb(254, 95, 76);
    transition: 0.2s ease-in-out;
}

.Category-Section-Category::after {
    bottom: 0px;
    position: absolute;
    display: flex;
    content: " ";
    opacity: 0;
    width: calc(100% + 6px);
    height: 2px;
    background: black;
    animation: 0.3s ease-in-out 0s 1 normal forwards running eclZLu;
}

.Header-BottomExtended-Region {
    width: calc(100% + 40px);

    overflow: hidden;
    margin-top: 52px;
    position: absolute;
    display: none;
    height: auto;
    max-height: 600px;
    transition: max-height 0.3s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(255, 255, 255);
    z-index: 700;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 7px;
    top: 0px;
}

.BottomExtended-Region-Container {
    position: relative;
    width: 100%;
    max-width: 1160px;
}

.BottomExtended-Region-Wrapper {
    padding: 40px 0px 30px;
    position: relative;
    display: flex;
    flex-flow: wrap;
    width: 100%;
    justify-content: space-between;
    height: auto;
    overflow-x: auto;
}

.BottomExtended-Region-Group {
    flex: 1 0 20%;
    flex-direction: column;
    display: flex;
}

.BottomExtended-Region-Item {
    flex-direction: row;
    height: 32px;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100%;

    display: flex;
    flex-shrink: 0;
    padding: 0px 3px;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;
}

.BottomExtended-Region-ItemIcon img {
    width: 40px;
    height: 40px;
    margin-right: 10px;

    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}

.BottomExtended-Region-ItemText {
    font-weight: bold;
    color: rgb(13, 13, 13);

    font-size: 13px;
    text-align: left;
    line-height: 18px;
    justify-content: flex-start;
    margin-top: 4px;
}