a, div {
    text-decoration: none;
}

img, video {
    height: auto;
    max-width: 100%;
}

audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

/* 메인 부분 */
.Main-Layout {
    background-color: white;
}

.Main-Container {
    padding: 38px 0px 0px;
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(239, 239, 239);
}

/* 메인 최상단 컨탠츠 */
.MainTop-Section {
    max-width: 1160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 44px;
    width: 100%;
    margin: 0 auto;
}

.MainTop-Section-Left {
    width: 766px;
    margin: 0px 78px 0px 0px;
}

.MainTop-Banner-Container {
    min-height: 280px;
}

.MainTop-Banner-CurrentPage {
    margin: 0px auto;
    position: relative;
    user-select: none;
    overflow: hidden;
}

.Banner-Slider-Container {
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    list-style: none;
}

.Banner-Slider-Wrapper {
    position: relative;
    display: flex;
    width: 100%;
    box-sizing: content-box;
    transition-property: transform;
}

.Banner-Content {
    width: 766px;
    position: relative;
    flex-shrink: 0;
    transition-property: transform;
}

.Banner-Content-Link {
    height: 280px;
    display: block;
    min-height: 200px;
    text-decoration: none;
}

.Banner-Slider-Controller {
    right: 30px;
    bottom: 30px;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
}

.Banner-Slider-Pagination {
    min-width: 40px;
    padding: 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.Slider-Button-Wrapper {
    display: flex;
    margin-left: 12px;
}

.Slider-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.Slider-Button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.Left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.Left svg {
    font-size: 12px;
    fill: rgb(255, 255, 255);
}

.Right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0px;
    margin-left: 12px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.Right svg {
    transform: rotate(180deg);
    font-size: 12px;
    fill: rgb(255, 255, 255);
}

/* 배너 밑 추천 상품 부분 */
.Recommand-Items-Container {
    padding: 0px;
    margin: 0px -6px;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    background: #fff;
    color: #3d3d3d;
}

.Recommand-Items-ListTitle {
    padding-left: 7px;
    padding: 0px;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 16px 0px;
}

.Recommand-Items-CardList {
    padding: 0;
    width: 100%;
}

/* 상품 목록 카드 부분 */
.CardList-Section {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    scrollbar-width: none;
}

/* 추천 상품 목록 부분 */
.Card-Container {
    padding-bottom: 40px !important;
    width: 25%;
    padding: 0px 7px;
}

.Card-Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 136px;
    position: relative;
    transition: width 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: center center;
}

.Card-Link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    text-decoration: none;
}

.Card-Image {
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transition: 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 8px;
    transform-origin: center center;
}

.Card-Image:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 12px;
}

.Card-Image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
}

.Card-Image-img:hover {
    transform: scale(1.05);
}

.like-Button {
    position: absolute;
    cursor: pointer;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;

    outline: 0;
    width: 50px;
    height: 50px;
    bottom: 2px;
    right: 2px;
}

.Card-Info-Container {
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 8px;
    margin-left: 0px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
}

.Card-Info-NameWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
    text-align: center;
}

.Card-Info-Name {
    font-size: 11px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.Card-Info-ItemName {
    overflow: hidden;
    flex-shrink: 0;
    
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    
    margin: 2px 0px 6px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Card-Info-Price {
    padding: 0px;

    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}

.Card-Info-BadgeList {
    display: flex;
    gap: 4px;
    width: 100%;
    height: 18px;
    margin-bottom: 8px;
    margin-top: 4px;
}

/* 뱃지 CSS */
.Info-badge {
    color: rgb(84, 84, 84);
    background-color: rgb(240, 240, 240);
    font-size: 10px;
    font-weight: bold;
    line-height: 120%;
    height: 18px;
    white-space: nowrap;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 4px;
    border-radius: 2px;
}

.delivery {
    color: rgb(255, 255, 255);
    background-color: rgb(121, 136, 255);
}

/* 우측 인기 카테고리 부분 */
.MainTop-Section-Right {
    max-width: 314px;
    width: calc(100% - 844px);
    padding: 0px;
    margin-bottom: 0px;
    position: relative;
}

.BestCategory-ItemList-Container {
    padding: 0;
    margin-bottom: 22px;

    display: flex;
    align-items: center;
    word-break: keep-all;
    position: relative;
    margin: 0px 0px 16px;
}

.BestCategory-ItemList-Container span {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
}

.BestCategory-ItemList-Wrapper {
    margin-right: 8px;
    border-radius: 1px;
    overflow: hidden;
    padding: 0px;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.025em;

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    color: rgb(28, 28, 28);
    font-weight: bold;
    margin: 0px;
}

.BestCategory-ItemList-Wrapper > div {
    width: 100%;
}

.ItemList-ListTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BestCategory-ItemList-Wrapper a {
    color: rgb(13, 13, 13);
}

.ItemList-searchAll {
    font-size: 16px;
    font-weight: normal;
    line-height: 120%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
    background: none;
    cursor: pointer;
    min-width: 58px;
    color: rgb(84, 84, 84) !important;
}

.ItemList-ReferenceTime {
    font-weight: 400;
    color: rgb(109, 109, 109);
    margin: 2px 0px 0px;
    font-size: 12px !important;
    line-height: 20px !important;
}

/* 우측 인기 카테고리 상품 카드 목록 부분 */
.BestCategory-ItemCard-Container {
    width: 100%;
}

.BestCategory-ItemCard-Wrapper {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: hidden;

    margin: 0px;
    padding: 0px;
    list-style: none;
    scrollbar-width: none;
}

/* 인기 카테고리 상품 CSS */
.SmallCard-Container {
    margin-top: 10px 0px 0px !important;
    padding: 0px !important;
    display: flex;
    width: 100%;
    min-width: auto;
}

.SmallCard-Wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 136px;
    position: relative;
    transition: width 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: center center;
}

.SmallCard-Link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-grow: 1;
}

.SmallCard-Image {
    width: 116px;
    height: 116px;

    flex: 0 0 auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    transform: 0.2s ease-in-out;
    overflow: hidden;
    border-radius: 8px;
    transform-origin: center center;
}

.SmallCard-Image:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 12px;
}

.SmallCard-Image-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: 0.2s ease-in-out;
}

.SmallCard-Image-img:hover {
    transform: scale(1.05);
}

.SmallCard-Rank {
    color: rgb(235, 75, 56);
    padding: 4px 0px 0px 11px;
    margin-right: -4px;
    z-index: 100;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
}

.SmallCard-Content {
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 6px;
    margin-left: 11px;
    padding: 0px 4px;
    display: flex;
    flex-direction: column;
}

.SmallCard-Info-Price {
    padding: 0px;

    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    font-size: 18px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}

/* 푸터 추가 css */
.Footer {
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: rgb(255, 255, 255);
}