.MainLayout-Wrapper {
    background-color: white;
}

.ReivewDetail-Wrapper {
   max-width: 1160px;
   margin: 0px auto; 
   border-bottom: 1px solid rgb(228, 228, 228);
}

.ReivewDetail-SubHeader {
    width: 100%;
    max-width: 1160px;
    margin: 0px auto;
    padding: 48px 0px 28px;
}

.ReivewDetail-SubHeader span {
    color: rgb(28, 28, 28);
    font-weight: 700;
    font-size: 32px !important;
    line-height: 44px !important;
}

.ReviewDetail-Container {
    width: 100%;
    max-width: 1160px;
    padding: 0px;
    margin: 0px auto;
}

.ReviewDetail-ItemInner {
    padding: 0px;
}

.ReviewDetail-HeaderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ReviewDetail-ProfileWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ReviewDetail-ProfileImg {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.ReviewDetail-Profile {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ReviewDetail-ProfileName {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ReviewDetail-ProfileNameA {
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    max-width: 182px;
    color: rgb(28, 28, 28);
}

.ReviewDetail-ProfileInfo {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ReviewDetail-Label {
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
}

.ReviewDetail-Dot {
    color: rgb(158, 158, 158);
}

.ReviewDetail-BodyContainer {
    cursor: pointer;
}

.ReviewDetail-KeyWordContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 8px 12px;
    margin-top: 12px;
    border-radius: 4px;
    gap: 12px;
    background-color: rgb(248, 248, 248);
}

.ReviewDetail-KeyWordItem {
    display: flex;
    align-items: center;
    gap: 4px;
}

.ReviewDetail-KeyWord {
    color: rgb(158, 158, 158);
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
}

.ReviewDetail-OptionValue {
    color: rgb(109, 109, 109);
    font-weight: 700;
    font-size: 12px;
    margin: 0px;
}

/* 후기 관련 이미지 부분 */
.ReviewDetail-ImageContainer {
    margin-top: 16px;
}

.ReviewDetail-ImageList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    max-width: 480px;
}

.ReviewDetail-Image {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* 후기를 남긴 상품 부분 */
.ReviewDetail-FooterContainer {
    margin-top: 12px;
}

.ReviewDetail-ItemLink {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ReviewDetail-ItemThumnail {
    width: 44px;
    height: 44px;
    border-radius: 4px;
}

.ReviewDetail-ItemTitle {
    max-width: calc(100% - 33px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(84, 84, 84);
    font-size: 13px;
    font-weight: bold;
    line-height: 120%;
}

.ReviewDetail-ThumsUpContainer {
    margin-top: 5px;
    margin-bottom: 20px;
}

.ThumsUp-Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0px;
}

.ThumsUp-Left {
    color: rgb(158, 158, 158);
    font-size: 13px;
    font-weight: normal;
    line-height: 120%;
}

.ThumsUp-Right {
    display: flex;
    align-items: flex-end;
}

.ThumsUp-Buttons {
    display: flex;
    gap: 8px;
}

.ThumsUp-disLikeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    transform: rotate(180deg);
}