@charset "utf-8";

@keyframes popUp {
    from {scale: 0;}
    to {scale: 1;}
}

@keyframes popDown {
    from {scale: 1;}
    to {scale: 0;}
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css') format('font-woff2');
}

html {
    scrollbar-gutter: stable;
    line-height: 1.5;
    tab-size: 4;
    font-family: sans-serif;
    font-variation-settings: normal;
    overflow-y: scroll;
}

*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard";
    line-height: inherit;
    margin: 0;
}

main {
    background-color: white;
}

a {
    text-decoration: none;
    color: #1c1c1c;
}

button {
    background-color: transparent;
    cursor: pointer;
    text-transform: none;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

.page-container button {
    outline: 0;
}

.region-icon img {
    width: 25px;
    height: 25px;
}

.full-view {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.category-container {
    max-width: 1160px;
    margin: 0px auto;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1160px;
    background: rgb(255, 255, 255);
    user-select: none; 
}

.category-wrapper {
    max-width: 1160px;
    width: 100%;
    position: relative;
    padding: 20px 0px;
}

.region-list {
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1160px;
    width: 100%;
    gap: 10px;
}

.category-each-box {
    position: relative;
    min-width: 49px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0px 3px;
    cursor: pointer;
    width: 63px;
    border: 1px solid #e4e4e4;
    border-radius: 16px;
}

.category-each-box:hover,
.filter:hover,
.dropdown-market:hover {
    background-color: #FFB74D !important;
    border-color: #FFB74D !important;
}

.region-text {
    margin-top: 1px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    font-size: 13px;
    color: rgb(61, 61, 61);
}

.name-arrow-box {
    display: flex;
    gap: 0px;
    align-items: center;
}

.tab-arrow {
    font-size: 10px;
    color: #8c8c8c;
    margin-left: 4px;
    transition: all 0.3s 0s;
}

.page-container {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(245, 245, 245);
    padding: 0px 0px 40px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.015em;
    font-weight: 400;
    color: #3d3d3d;
}

.divider-wrapper {
    max-width: 1160px;
    margin: 0px auto;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.divider {
    max-width: 1160px;
    padding: 0px;
    position: relative;
    margin: 20px 0px 0px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.current-region-market {
    display: flex;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: rgb(13, 13, 13);
}

.filter-container {
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    position: relative;
}

.filter-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    width: 1160px;
    margin: 0px auto;
    position: relative;
    padding: 0px !important;
}

.filter-box {
    margin-top: 24px;
    width: 100%;
    position: relative;
}

.filter-options {
    display: flex;
    align-items: center;
    flex: 9 1 0%;
    width: 100%;
    height: 100%;
}

.filter-btns {
    padding-left: 0px;
    display: flex;
    gap: 10px;
    scrollbar-width: none;
}
/* 이름짓기 */
.filter-btn {
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    display: flex;
    height: 36px;
    padding: 9.5px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 20px;
    background: white;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(28, 28, 28);
}

.svg-inmedia {
    display: flex;
    gap: 4px;
    flex-direction: row;
}

.dropdown-filter {
    position: relative;
    cursor: pointer;
}

.dropdown-filter.clicked .dd-filter-box {
    display: block;
} 

.dd-filter-box {
    position: absolute;
    display: none;
    z-index: 999;
    background: white;
    padding: 0px;
    margin: 0px;
    top: 42px;
    list-style: none;
    width: 140px;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 1px solid rgb(240, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 8px, rgba(0, 0, 0, 0.1) 0px 1px 0px;
}

.dd-filter-item {
    display: flex;
    align-items: center;
    border: none;
    background: rgb(255, 255, 255);
    color: rgb(61, 61, 61);
    font-weight: 400;
    padding: 0px 0px 0px 19px;
    width: 100%;
    height: 44px;
    font-size: 14px !important;
    line-height: 24px !important;
}

.filter-text {
    display: flex;
    gap: 4px;
    flex-direction: row;
    /* white-space: nowrap; */
}

.dropdown-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arrow-svg {
    cursor: pointer;
    width: 14px;
    height: 14px;
    transition: all 0.2s 0s;
}

.orderby-box {
    position: absolute;
    right: 0px;
    bottom: -37px;
    z-index: 1;
}

.orderby-box.clicked .filter-combobox {
    display: flex;
}

.orderby {
    position: relative;
}

.combobox-opener {
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
    z-index: auto;
    color: rgb(61, 61, 61);
    line-height: 24px;
    border: none;
}

.combobox-opener span {
    position: relative;
    display: block;
    white-space: nowrap;
    padding: 0px 24px 0px 16px;
}

.combobox-arrow {
    position: absolute;
    top: 0px;
    right: 8px;
    font-style: normal;
    display: block !important;
    width: 8px !important;
    height: 100% !important;
    margin: 0px !important;
    transition: all 0.2s 0s;
}

.combobox-arrow::before {
    content: "▼";
    line-height: inherit;
    display: block;
    font-size: 8px;
}

.filter-combo {
    font-size: 1rem;
    height: 34px;
    line-height: 34px;
}

.filter-combo:hover, .dd-filter-item:hover {
    background: rgb(241, 241, 241);
}

.selected-filter {
    font-weight: bold;
    color: rgb(250, 101, 99);
    white-space: nowrap;
    cursor: pointer;
    padding: 0px 16px 0px 12px;
    min-width: 130px;
    font-size: 1rem;
    height: 34px;
    line-height: 34px;
}

.nonselected-filter {
    font-weight: normal;
    color: inherit;
    white-space: nowrap;
    cursor: pointer;
    padding: 0px 16px 0px 12px;
    min-width: 130px;
    font-size: 1rem;
    height: 34px;
    line-height: 34px;
}

.content-container {
    margin-bottom: 0px;
    min-height: 150px;
    width: 1160px;
    margin: 0px auto;
    position: relative;
    height: auto;
}

.content-wrapper {
    color: rgb(51, 51, 51);
    position: relative;
}

.count-contents {
    width: 100%;
    font-size: 16px;
    line-height: 27px;
    margin: 0px auto;
    padding: 16px 20px 12px 0px;
    color: rgb(61, 61, 61);
    letter-spacing: -0.08px;
    z-index: 0;
    position: relative;
}

.count-contents span {
    color: rgb(255, 87, 87);
}

.card-list-wrapper {
    width: auto;
    display: flex;
    margin: 0px -10px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.market-card-wrapper {
    min-width: 136px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s 0s;
    padding: 20px 10px 5px;
    width: 25%;
}

.each-card {
    width: 100%;
}

.card-image {
    transition: all 0.2s 0s;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-image:hover {
    transform: scale(1.02);
}

.card-image-wrap {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    overflow: hidden;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
}

.card-image-wrap img {
    position: relative;
    width: 100%;
    height: 100%;
}

.like-button {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 2px;
    right: 2px;
    z-index: 100;
}

/* 찜 하트 토글 */
.like-button .red-heart {
    display: none;
}

.like-button.liked .black-heart {
    display: none;
}

.like-button.liked .red-heart {
    display: block;
}

.card-info {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    justify-content: flex-start;
    gap: 6px;
}

/* 카드의 시장의 분류(축산,농산 등등) */
.card-market-category {
    font-size: 12px;
    color: #FF6F00;
    font-weight: 600;
}

.card-market-name {
    font-size: 14px;
    font-weight: 700;
    color: #1c1c1c;
    line-height: 1.3;
}

.card-description {
    font-size: 13px;
    height: 58.5px;
    color: #757575;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-info-line {
    margin: 7px 0px;
    width: 100%;
    border-bottom: 1px solid #E0E0E0;
}

.card-guide {
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.guide-location,
.guide-hour {
    display: flex;
    gap: 40px;
    margin: 2px 0px;
}

.location,
.hours {
    width: 80px;
    color: #757575;
}

.market-location,
.card-business-hour {
    color: #1c1c1c;
    font-size: 13px;
}

.filter-combobox {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 99;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(230, 230, 230);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px 0px;
    border-radius: 4px;
    padding: 4px 0px;
    color: rgb(61, 61, 61);
    left: auto;
    right: 0px;
}

.tab-button {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    width: 310px;
    top: 105%;
    left: 0;
    background-color: #ffffff;
    gap: 8px;
    padding: 8px;
    z-index: 100;
}

.dropdown-market {
    background-color: rgb(251, 248, 248);
    padding: 6px 4px;
    min-width: 66px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid #e4e4e4;
}

.category-each-box.selected, .dropdown-market.selected, .filter-btn.selected {
    background-color: blanchedalmond;
    border-color: blanchedalmond;
    font-weight: 600;
    font-size: 12px;
}

.category-each-box.clicked .tab-button {
    display: flex;
}

.category-each-box.clicked {
    background-color: #FFB74D;
    border-color: #FFB74D;
}

.category-each-box.clicked .tab-arrow, 
.dropdown-filter.clicked .dropdown-arrow svg,
.orderby-box.clicked .combobox-arrow {
    transform: rotate(180deg);
}

.tab-button {
    cursor: default;
}

div.modal {
    display: none;
    position: fixed;
    flex-direction: column;
    inset: 0px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8586898a;
}

div.like-modal {
    box-sizing: border-box;
    position: unset;
    width: 288px;
    margin: 20vh 0px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(33 35 41 / 12%) 0px 2px 12px;
    border-radius: 8px;
    padding: 24px;
}

div#content-wrap span{
    display: block;
}

