@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: "Pretendard";
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css') format('font-woff2');
}

html {
    scrollbar-gutter: stable;
    line-height: 1.5;
    tab-size: 4;
    font-family: sans-serif;
    font-variation-settings: normal;
    overflow-y: scroll;
}

*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard";
    line-height: inherit;
    margin: 0;
}

main {
    display: block;
    background-color: white;
}

a, div {
    text-decoration: none;
}

img {
    max-width: 100%;
    border: none;
    display: block;
}

button {
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

svg {
    display: block;
}

.full-view {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}

.page-container {
    width: 100%;
    border-bottom: 1px solid rgb(228, 228, 228);
    position: relative;
}

.profile-conatiner {
    border-bottom: 1px solid rgb(228, 228, 228);
}

.profile-wrapper {
    padding: 40px 0px 32px;
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;
}

.seller-info-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
}

.seller-info {
    gap: 40px;
    display: flex;
}

.seller-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.seller-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.seller-badge {
    width: 60px;
    height: 18px;
}

.seller-name {
    color: rgb(28, 28, 28);
    font-size: 20px;
    font-weight: bold;
    line-height: 120%;
}

.last-login {
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    margin-bottom: 16px;
    color: rgb(158, 158, 158);
}

.seller-level-container {
    display: block;
}

.seller-level-wrapper {
    gap: 12px;
    display: flex;
    width: 100%;
    align-items: center;
}

.each-seller-level {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 120px;
    text-align: left;
    gap: 4px;
    cursor: pointer;
}

.seller-level-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.arrow-in-follower {
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.count-people {
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
}

.info-icon-wrap {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
}

.info-icon {
    margin-left: 2px;
    display: flex;
    align-self: center;
}

.info-icon svg {
    width: 1em;
    height: 1em;
}

.social-button-wrapper {
    width: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 8px;
}

.share-btn-wrap {
    min-width: 90px;
    /* width: 90px; */
}

.share-button {
    width: 100%;
    height: 40px;
    padding: 14px 16px;
    border-radius: 8px;
    white-space: nowrap;
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    background-color: white;
    border: 1px solid rgb(228, 228, 228);
    color: rgb(84, 84, 84);
}

.share-icon {
    margin-right: 6px;
}

.share-icon svg, .follow-btn-wrap svg {
    width: 18px;
    height: 18px;
}

.follow-btn-wrap {
    min-width: 200px;
    width: 100%;
    height: 40px;
    padding: 14px 16px;
    border-radius: 8px;
    gap: 4px;
    display: flex;
    justify-content: center;
    /* white-space: nowrap; */
    align-items: center;
    border: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    background-color: rgb(28, 28, 28);
    color: white;
}

.profile-list-container {
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;
}

.profile-list-wrapper {
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.02em;
    height: 56px;
    display: flex;
    overflow: auto hidden;
    position: relative;
}

.profile-lists {
    padding: 0px;
    font-size: 18px;
    display: inline-flex; /* 블록처럼 한줄전체말고 내용까지만 */
    /* word-break: keep-all; */
}

.each-profile-box {
    margin: 0px 32px 0px 0px;
    display: flex;
    align-items: center;
    height: 100%;
}

.each-profile-box a {
    font-weight: 500;
    color: rgb(13, 13, 13);
    opacity: 0.4;
}

.each-profile-box.selected a {
    font-weight: 700;
    color: rgb(13, 13, 13);
    opacity: 1;
}

.profile-list-wrapper::after {
    content: "";
    height: 3px;
    display: block;
    position: absolute;
    background: rgb(248, 100, 83);
    bottom: -1px;
    width: 53px;
    left: -4px;
    transition: left 0.15s ease-out, width 0.09s ease-out;
}

.content-container {
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;
}

.profile-description {
    min-height: 147px;
    color: rgb(61, 61, 61);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-family: "Pretendard", sans-serif;
    padding: 40px 0px;
}

.description-wrapper {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.show-more-btn {
    background: none;
    border: none;
    color: rgb(158, 158, 158);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding: 0px;
    /* white-space: nowrap; */
    display: inline-block;
    margin-top: 4px;
}

.social-link {
    padding: 0px 0px 20px;
}

.social-link dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.social-link dl dd {
    margin: 0px 12px 12px 0px !important;
}

.link-address {
    display: flex;
    align-items: center;
    padding: 6px 16px 6px 14px;
    background: rgba(240, 240, 240, 0.5);
    border-radius: 27px;
    font-weight: 500;
    color: rgb(61, 61, 61);
    font-size: 12px !important;
    line-height: 20px !important;
}

.svg-icon {
    margin: 0px 4px 0px 0px;
    font-size: 16px;
    display: inline-flex;
    align-self: center;
    flex-shrink: 0;
}

.svg-icon svg {
    width: 1em;
    height: 1em;
}

.products-container {
    padding: 32px 0px;
    border-top: 1px solid rgb(240, 240, 240);
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}

.products-simple-info {
    font-size: 18px;
    font-weight: bold;
    line-height: 120%;
    padding: 0px 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products-count {
    font-size: 18px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}

.show-all-button {
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    color: rgb(84, 84, 84);
}

.cards-container {
    max-width: 1160px;
    width: 100%;
    z-index: 2;
    position: relative;
    margin: 0px auto;
}

.cards-wrapper {
    position: relative;
}

.banner-wrapper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

.slide-banner {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-left: auto;
}

.each-card-wrapper {
    flex-shrink: 0;
    width: 220.8px;
    margin-right: 14px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.each-card {
    min-width: 136px;
    position: relative;
    width: 100%;
}

.card-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.image-box {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.04);
    overflow: hidden;
    border-radius: 8px;
}

.card-image {
    width: 100%;
    vertical-align: bottom;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s 0s;
}

.like-button {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 2px;
    right: 2px;
    z-index: 100;
}

/* 찜 하트 토글 */
.like-button .red-heart {
    display: none;
}

.like-button.liked .black-heart {
    display: none;
}

.like-button.liked .red-heart {
    display: block;
}

.card-content-wrapper {
    position: relative;
    text-align: left;
    width: 100%;
    margin-top: 8px;
    margin-left: 0px;
    padding: 0px 4px;
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}

.card-seller-name-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    align-items: center;
    text-align: center;
}

.card-seller-name {
    font-size: 11px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

.card-seller-name > div {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
}

.card-seller-name > div:hover {
    text-decoration: underline;
}

.products-title {
    overflow: hidden;
    flex-shrink: 0;
}

.product-link {
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(28, 28, 28);
    margin-bottom: 6px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.product-price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(235, 75, 56);
}

.left-slide-btn {
    left: -24px;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0px;
    position: absolute;
    border: 0px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
    background: white;
    color: rgb(61, 61, 61);
    align-items: center;
    justify-content: center;
    outline: 0px;
    top: 110px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;
}

.left-arrow svg {
    font-size: 16px;
    fill: rgb(13, 13, 13);
    margin-right: 2px;
    width: 1em;
    height: 1em;
}

.right-slide-btn {
    right: -24px;
    display: flex;
    width: 48px;
    height: 48px;
    padding: 0px;
    position: absolute;
    border: 0px;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px, rgba(0, 0, 0, 0.1) 0px 4px 5px;
    background: white;
    color: rgb(61, 61, 61);
    align-items: center;
    justify-content: center;
    outline: 0px;
    top: 110px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
    transition: 0.5s;
}

.right-arrow svg {
    font-size: 16px;
    fill: rgb(13, 13, 13);
    margin-left: 2px;
    width: 1em;
    height: 1em;
}

.reviews-container {
    border-top: 1px solid rgb(240, 240, 240);
}

.reviews-wrapper {
    display: flex;
    padding: 0px 0px 58px;
}

.simple-reviews-container {
    display: block;
}

.simple-header-wrap {
    margin: 40px 0px 20px;
    padding: 0px;
    display: flex;
}

.simple-header {
    display: flex;
    gap: 4px;
    align-items: center;
}

.simple-header > div {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    font-family: "Pretendard", sans-serif;
}

.simple-count {
    color: rgb(248, 100, 83);
}

.simple-keyword-container {
    width: 314px;
    margin-right: 77px;
    padding: 0px;
}

.simple-keyword-wrap {
    padding: 0px 0px 30px;
    border-bottom: none;
}

.keyword-item {
    display: flex;
    transition: max-height 0.7s ease-out;
    scrollbar-width: none;
    max-height: 34px;
    overflow: hidden;
}

.item-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: "Pretendard", sans-serif;
    color: rgb(109, 109, 109);
    width: 60px;
    padding: 6px 0px;
    margin-right: 12px
}

.review-option-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}

.review-option {
    display: flex;
    align-items: center;
    padding: 6px 0px;
}

.detail-reviews-container {
    max-width: 770px;
    width: 100%;
    flex: 1 1 auto;
    margin: 0px;
    padding: 40px 0px 30px;
}

.option-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    font-family: Pretendard, sans-serif;
    width: 80px;
    color: rgb(13, 13, 13);
}

.progress-bar {
    position: relative;
    flex: 1 1 auto;
    height: 6px;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
}

.progress-bar::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    width: 96%;
    max-width: 100%;
    background-color: rgb(248, 100, 83);
    border-radius: 6px;
}

.progress-rate {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    font-family: Pretendard, sans-serif;
    color: rgb(109, 109, 109);
    margin-left: 8px;
    width: 40px;
}

.key-dd-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease-out 0s;
    margin-left: 4px;
    width: 16px;
    transform: rotate(-180deg);
}






































