.tab-button {
    position: absolute;
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    border: 1px solid #e4e4e4;
    width: 310px;
    top: 120%;
    left: 0;
    background-color: #ffffff;
    gap: 8px;
    padding: 8px;
    z-index: 99;
}

.dropdown-market {
    background-color: rgb(251, 248, 248);
    padding: 6px 4px;
    min-width: 66px;
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid #e4e4e4;
}

.dropdown-market.selected {
    background-color: blanchedalmond;
    border-color: blanchedalmond;
    font-weight: 600;
    font-size: 12px;
}

.category-each-box.clicked .tab-button {
    display: flex;
}

.category-each-box.clicked {
    background-color: #FFB74D;
    border-color: #FFB74D;
}

.category-each-box.clicked .name-arrow-box .tab-arrow {
    transform: rotate(180deg);
}

.tab-button {
    cursor: default;
}

.filter-combobox.clicked {
    display: flex;
}