@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
:after, :before {
    --tw-content: "";
}

*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
html {
    font-size: 14px;
    scrollbar-gutter: stable;
    overflow-y: scroll;
}

    }
body {
    line-height: inherit;
    margin: 0;
}
body {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Pretendard;
}
html {
    font-family: sans-serif;
    font-size: 12.5px;
}
:host, html {  
    font-feature-settings: normal;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    tab-size: 4;
}

a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

img {
    border: 0;
}
img, video {
    height: auto;
    max-width: 100%;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
div {
    display: block;
    unicode-bidi: isolate;
}
:after, :before {
    --tw-content: "";
}
a {
    color: inherit;
    text-decoration: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

div {
    display: block;
    unicode-bidi: isolate;
}
body {
    -webkit-font-smoothing: antialiased;
}
body {
    line-height: inherit;
    margin: 0;
}
body {
    font-family: Pretendard;
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}
html {
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        font-family: sans-serif;
        font-size: 12.5px;
    }

:host, html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-variant-emoji: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    font-language-override: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}


/*id="react-view*/
.entire{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
    max-width: 1160px;
    margin:0 auto;
    width: 100%;

}

.Btn{
    width: 56px;
    height: 56px;
    bottom: 24px;
    right: 24px;
    position: fixed;
    width: 42px;
    height: 42px;
    right: 16px;
    bottom: calc(env(safe-area-inset-bottom) + 24px);
    z-index: 999;
    display: none;
}

.Btn2{
    width: 0px;
    height: 0px;
    border: 0px;
    border-radius: 50%;
    text-indent: -100em;
    overflow: hidden;
    padding: 0px;
    outline: none;
    position: absolute;
    background: transparent;
    z-index: 2;
    position: relative;
}
button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}


button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

.Icon{
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
    transition-property: opacity, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    display: flex !important;
    opacity: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
}














/*MainLayout__Wrapper background*/
.background {
    background-color: white;
}

.Wrapper{
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 32px;
    width: 100%;
    padding: 0px;
    overflow: visible;
}
.IntroWrapper {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    user-select: none;
    padding: 24px 0px;
}   

/*Project__Title apple*/
.Titleapple {       
        font-weight: bold;
        color: rgb(28, 28, 28);
        font-size: 24px;
        font-weight: bold;
        line-height: 120%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
/*Container__Container Wrap*/
.Wrap1{
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;
    border: ;
}

.Wrap2{
    padding: 0px 0px 88px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 400px;
    padding: 0px 0px 64px;
    overflow-x: hidden;
}


/*Project__ContentsWrapper title*/
.title {
    flex: 1 1 0%;;       
}

/*Project__Container price*/
.price{
    width: auto;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 20px;
    padding-bottom: 12.5px;
    padding-top: 117.5px;
    margin-left: auto;
}

/*img alt="사과 이미지"*/
.apple {
    width: 120px;
    margin-right: 24px;
    border-radius: 8px;
    margin-right: 20px;
    }

.img, video {
    height: auto;
    max-width: 100%;
}


.Project__ButtonContainer{
    width: auto;
}
.Spacing__Wrapper{
    height: 16px;
}
.cJzYPk {
    width: 100%;
    width: auto;
   
}
.ui-text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(84 84 84 / var(--tw-text-opacity, 1));
}
.ui-py-\[12\.5px\] {
    padding-bottom: 12.5px;
    padding-top: 12.5px;
}
.ui-px-\[20px\] {
    padding-left: 20px;
    padding-right: 20px;
}
.ui-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.ui-border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(228 228 228 / var(--tw-border-opacity, 1));
}
.ui-border {
    border-width: 1px;
}
.ui-rounded-lg {
    border-radius: .5rem;
}
.ui-gap-1 {
    gap: .25rem;
}
.ui-justify-center {
    justify-content: center;
}
.ui-items-center {
    align-items: center;
}
.ui-h-\[44px\] {
    height: 44px;
}
.ui-flex {
    display: flex;
}
.ui-body1-bold-small {
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}
[role=button], button {
    cursor: pointer;
}

button, select {
    text-transform: none;
}

.jqzjLF svg {
    width: 1em;
    height: 1em;
}


.bnImUd {
    font-size: 18px;
    margin-right: 4px;
}

button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

/*MoneyInfo__Account count*/
.count{ 
    color: rgb(84, 84, 84);
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    margin-right: 6px;
    margin-right: 6px;
}


/*MainLayout__Wrapper background*/
.background{
    background-color: white;
}

/*Info_Box_Wrap Box*/
.Box{   
    border: 1px solid rgb(228, 228, 228);
    border-radius: 4px;
    padding: 20px;
}

/*Info_Box Header*/
.Header{
    margin-bottom: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

/*Info_Box HeaderTitle*/
.HeaderTitle{
    margin: 0px;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
}

/*styled__InfoItem Item*/
.Item{
    gap: 40px;
    display: flex;
}

/*styled__Info Title*/
.Title{   
    flex: 0 0 90px;
    color: rgb(84, 84, 84);
    font-size: 14px;
    font-weight: normal;
    line-height: 176%; 
    display: block;
    unicode-bidi: isolate; 
}



/*styled__Info ContentWrap*/
.ContentWrap{
    margin: 0px;
    flex: 1 1 auto;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
}

/*img  alt"QR 코드*/
.qrcode{
    width: 100px;
    margin: 30px 0 30px 0;
}

/*Project__Detail Container */
.MoneyInfo__Achievement{
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(235, 75, 56);
    margin-right: 5px;
}
.MoneyInfo__State{
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}

/*Project__Intro*/
.shopname{
    font-size: 12px;
    font-weight: bold;
    color: rgb(158, 158, 158);
    font-style: normal;
}

.shopname > span {
    color: rgb(228, 228, 228);
    margin: 0px 4px;
}

button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none !important;
    border: inherit;    
}

*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
/**/
.QRcode {
    width: 100%;
}