.entire {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    height: 100%;
}
a, div {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
*, :after, :before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}
div {
    display: block;
    unicode-bidi: isolate;
}
body {
    -webkit-font-smoothing: antialiased;
}
body {
    line-height: inherit;
    margin: 0;
}
body {
    font-family: Pretendard;
}
html {
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-family: sans-serif;
    font-size: 12.5px;
}
:host, html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;
    font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}
:after, :before {
    --tw-content: "";
}
::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
}
/*ScrollTop__ScrollTopBtn*/
.Wrapper{
    width: 56px;
    height: 56px;
    bottom: 24px;
    right: 24px;
}
.Wrapper {
    position: fixed;
    width: 42px;
    height: 42px;
    right: 16px;
    bottom: calc(env(safe-area-inset-bottom) + 72px);
    z-index: 999;
    display: none;
}
/*ScrollTop__ScrollTopBtn*/
.Btn{
    width: 0px;
    height: 0px;
    border: 0px;
    border-radius: 50%;
    text-indent: -100em;
    overflow: hidden;
    padding: 0px;
    outline: none;
    position: absolute;
    background: transparent;
    z-index: 2;   
}
button, html input[type='button'], input[type='reset'], input[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    padding: 0;
}
[role=button], button {
    cursor: pointer;
}
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-feature-settings: inherit;
    font-size: 100%;
    font-variation-settings: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
button {
    appearance: auto;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-variant-emoji: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-size-adjust: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    font-language-override: ;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 0em 0em 0em 0em;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
.Btn span {
    position: relative;
}
/*ScrollTop__Styled*/
.Icon {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 208);
    transition-property: opacity, border;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    display: flex !important;
    opacity: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0px !important;
}
svg:not(:root) {
    overflow: hidden;
}
.Icon svg {
    width: 24px;
    fill: rgb(13, 13, 13);
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    }
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
svg{
    height: 18px;
    width: 22px;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
g{
    transform: translate(-1, 0);
}
:not(svg) {
    transform-origin: 0px 0px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
/*MainLayout__Wrapper*/
.background {
    background-color: white;
    height: 100%;
}
.ProjectWrapper{
    padding: 0px;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background: transparent;
    justify-content: center;
    padding: 0px 16px;
}


.IntroWrapper{
    width: 1160px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 32px 0px 26px;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    user-select: none;
    padding: 24px 0px;
}

.title {
    flex: 1 1 0%;       
}

.apple {
    width: 120px;
    margin-right: 24px;
    border-radius: 8px;
    margin-right: 20px;
    }

.img, video {
    height: auto;
    max-width: 100%;
}

.shopname{
    font-size: 12px;
    font-weight: bold;
    color: rgb(158, 158, 158);
    font-style: normal;
}

.shopname > span {
    color: rgb(228, 228, 228);
    margin: 0px 4px;
}
.Titleapple {       
        font-weight: bold;
        color: rgb(28, 28, 28);
        font-size: 24px;
        font-weight: bold;
        line-height: 120%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
    }

.MoneyInfo__Achievement{
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(235, 75, 56);
    margin-right: 5px;
}
.MoneyInfo__State{
    font-size: 12px;
    font-weight: normal;
    line-height: 120%;
    color: rgb(84, 84, 84);
}
.count{ 
    color: rgb(84, 84, 84);
    font-size: 14px;
    font-weight: normal;
    line-height: 120%;
    margin-right: 6px;
    margin-right: 6px;
}

blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}
.DimmedLayer{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;   
}
/**/
.NLrsy{
    padding: 24px 0px;
    flex-direction: row; 
    margin-bottom: 7px;
    min-height: 640px;   
}
.BgVfT {
    display: flex;
    align-items: flex-start;
}
.bOjKOH {
    width: 100%;
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;
}
.NLrsy .container {
    width: 672px;
    margin: 0px 32px 0px 0px;
    flex: 0 0 auto;
    box-sizing: border-box;
}
.jkMqrx {
    padding-top: 0px !important;
}
.NLrsy .container > div {
    margin: 0px 0px 16px;
}
.eeBRDs {
    width: 100%;
    margin-bottom: 14px !important;
    border-bottom: none !important;
}
.cyYYNw {
    position: relative;
}
.cORMrX {
    padding: 0px 0px 18px;
}
.fOubCv {
    display: flex;
    margin: 0px 0px 12px;
}
.hLdtkm {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);
}
blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.hmYlQy {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font: 500 14px / 22px Pretendard, sans-serif;
}
.kGdLSK {
    border-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    margin-left: 0px;
    margin-right: 0px;
    border-width: 1px 1px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-image: initial;
}
.eeBRDs table {
    width: 100%;
    margin: 16px 0px;
    text-align: left;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: inherit;
    text-indent: 0;
}
.bLqfkh table tbody th {
    width: 138px;
}

.bKvTky {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}
.dJBfNH {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}
.kGdLSK::after {
    content: "";
    min-height: inherit;
    font-size: 0px;
}
.eeBRDs table tbody th { 
    padding-left: 40px; 
    padding-right: 20px; 
    vertical-align: top; 
    text-align: left; 
    padding: 4px 0px 4px 16px; 
     
    
}

/**/

/* .Component{
    max-width: 1160px;
    margin: 0px auto;
    width: 100%;        
}

.PageWrapper .container {
    width: 672px;
    margin: 0px 32px 0px 0px;
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
    }

.columnWrapper .container {
    width: 672px;
    margin: 0px 32px 0px 0px;
    flex: 0 0 auto;
    width: 100%;
    box-sizing: border-box;
}
.Container{
    margin-top: 0px;    
    margin-top: 8px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0px !important;    
}

.PageWrapper .container > div {
    border-bottom: 0px;
    margin: 0px 0px 16px;
}

.columnWrapper .container > div {
    border-bottom: 1px solid rgb(228, 228, 228);
    margin: 0px 0px 16px;
}

.Pledge__CardWrapper{
    width: 100%;
    margin-bottom: 14px !important;
    border-bottom: none !important;    
}
.Pledge__CardWrapper table tbody th{
    width: 138px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: top;
    text-align: left;
    padding: 4px 0px 4px 16px; 
    padding: 4px 16px 4px 0px;  
}
Pledge__CardWrapper table{
    width: 100%;
    margin: 16px 0px;
    text-align: left;   
}

.RewardWrapper{
    position: relative;
}
.Setting__FormWrapper{
    padding: 0px 0px 18px;   
}
.FormHeader{
    display: flex;
    margin: 0px 0px 12px;    
}
.FormTitle{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 16px;
    font-weight: bold;
    line-height: 120%;
    color: rgb(28, 28, 28);   
}
.RoundedWrappe {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font: 500 14px / 22px Pretendard, sans-serif;
}

.RoundedWrapper__Wrapper {
    border-radius: 4px;
    border-left-width: 1px;
    border-right-width: 1px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.RoundedWrapper__Wrapper {
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgb(228, 228, 228);
    border-image: initial;
    margin-left: 0px;
    margin-right: 0px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font: 500 14px / 22px Pretendard, sans-serif;
}

.RoundedWrapper__Wrapper::after{
    content: "";
    min-height: inherit;
    font-size: 0px;   
}
.CardWrapper table{
    width: 100%;
    margin: 16px 0px;
    text-align: left;    
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}
table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.CardWrapper table tbody th {
    width: 138px;
    padding-left: 20px;
    vertical-align: top;
    text-align: left;
    padding: 4px 0px 4px 16px;
}
td, th {
    padding: 0;
}
th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
    unicode-bidi: isolate;
}
.RewardContainer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;  
}
td {
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
}
.RoundedWrapper{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font: 500 14px / 22px Pretendard, sans-serif;   
    
}
.RewardWrapper{
    position: relative;
}

.Setting__FormWrapper{
    padding: 0px 0px 18px;    
}

.columnWrapper{
    padding: 24px 0px;
    flex-direction: row;
    padding: 18px 16px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
}
.Pledge__RewardWrapper table tbody th{
    width: 138px;
    width: 100%;
    margin: 16px 0px;
    text-align: left;
    padding-right: 20px;
    width: auto;
    padding: 4px 16px 4px 0px;
}
.Pledge__RewardWrapper table {
    
    margin: 16px 0px;
    text-align: left;
}
.Pledge__RewardWrapper{
    width: 100%;
    margin-bottom: 14px !important;
    border-bottom: none !important;    
} */


/*이름: 홍길동*/
.gOKAJS td {
    color: rgb(109, 109, 109) !important;
}
.eeBRDs table tbody th {
        width: 138px;
        padding-left: 20px;
    }
.eeBRDs table tbody th {
    width: 98px;
    vertical-align: top;
    text-align: left;
    padding: 4px 0px 4px 16px;
}

.eeBRDs table tbody th.name {
    font-size: 16px 
}