<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/static/css/seller/myproducts.css">
    
</head>
<body>
    <div id="react-view" class="entire">
        <div class="ScrollTop__ScrollTop Btn">
            <button class="ScrollTop__ScrollTop Btn2">
                <span>최상위로</span>
            </button>
            <div class="ScrollTop__Styled Icon">
                <svg height="18px" version="1.1" viewBox="0 0 22 18" width="22px" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd" id="Page-1" stroke="none">
                        <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                        <path d="M12.006,5.987 L22.75,16.437 C22.9,16.587 23,16.837 23,17.087 C23,17.338 22.9,17.587 22.7,17.737 C22.35,18.087 21.75,18.087 21.35,17.737 L12.006,8.587 L2.611,17.737 C2.261,18.087 1.662,18.087 1.262,17.737 C0.912,17.387 0.912,16.787 1.262,16.437 L12.006,5.987 L12.006,5.987 Z M22.175,0 C22.631,0 23,0.37 23,0.825 L23,0.877 C23,1.332 22.63,1.702 22.175,1.702 L1.825,1.702 C1.369,1.702 1,1.332 1,0.877 L1,0.825 C1,0.369 1.37,0 1.825,0 L22.175,0 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <section aria-label="Notifications alt+T" tabindex="-1" aria-live="polite" aria-relevant="additions text" aria-atomic="false"></section>
    <main class="CreatorCenterLayout__Wrapper-sc-9lbqnz-1 gqcQAp">
        <div class="CreatorCenterLayout__PageWrapper-sc-9lbqnz-2 OWSFU">
            <div class="CreatorCenterLayout__TabListWrapper-sc-9lbqnz-0 TjOFS">
                <div class>
                    <div class="ui-flex ui-overflow-x-auto ui-scrollbar-hide ui-border-b ui-border-gray-200 CreatorCenterLayout__TabList-sc-9lbqnz-3 gSrLXe">
                        <button class="ui-px-[4px] ui-py-[10px] ui-transition-colors ui-pb-[14px] ui-body1-bold-small ui-whitespace-nowrap ui-flex-shrink-0 ui-border-b-2 ui-border-gray-700 ui-transition-all ui-duration-300 ui-ease-out CreatorCenterLayout__StyledTabTrigger-sc-9lbqnz-4 jcyoqr" type="button" role="tab" aria-selected="true" aria-controls="tabpanel-프로젝트 관리" id="tab-프로젝트 관리" data-tab-id="프로젝트 관리" tabindex="0">내 상품 조회</button>
                        <button class="ui-px-[4px] ui-py-[10px] ui-transition-colors ui-pb-[14px] ui-body1-bold-small ui-whitespace-nowrap ui-flex-shrink-0 ui-border-b-2 ui-border-transparent ui-transition-all ui-duration-300 ui-ease-out ui-text-gray-300 CreatorCenterLayout__StyledTabTrigger-sc-9lbqnz-4 fquUPH" type="button" role="tab" aria-selected="false" aria-controls="tabpanel-성과 부스트" id="tab-성과 부스트" data-tab-id="성과 부스트" tabindex="-1">후기 조회</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="ProjectManage__ProjectManageWrapper-sc-r86o2i-0 dsyHTQ">
            <div class="ProjectManage__SectionWrapper-sc-r86o2i-1 gIFtxr">
                <div class="DraftProjectList__DraftSection-sc-1stre0p-4 fOirLE">
                    <div class="DraftProjectList__DraftTitle-sc-1stre0p-5 kklydh">
                        작성 중 상품
                        <span>1</span>
                        </div>
                        <div class="DraftProjectList__CardContainer-sc-1stre0p-2 dXGQdo">
                            <div>
                                <div class="MyProjectCard__CardContainer-sc-1b0htfi-0 bOdEoj">
                                    <div class="MyProjectCard__ContentContainer-sc-1b0htfi-1 jzAQKB">
                                        <div class="ProjectCardImageSection__ProjectDefaultImageWrapper-sc-1bdnkim-3 gMkjmZ">
                                            <svg class="ProjectCardImageSection__ProjectDefaultImage-sc-1bdnkim-4 kOcxFV" width="34" height="30" viewBox="0 0 34 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.9581 4.6448C10.9581 7.21002 8.90441 9.28954 6.37101 9.28954C3.83761 9.28954 1.78388 7.21002 1.78388 4.6448C1.78388 2.07958 3.83761 6.10352e-05 6.37101 6.10352e-05C8.90441 6.10352e-05 10.9581 2.07958 10.9581 4.6448Z" fill="currentColor"></path>
                                                <path d="M33.9149 30.0001C33.9805 30.0001 34.0213 29.928 33.9883 29.8707L21.7443 8.62478C21.7114 8.56771 21.6299 8.56795 21.5973 8.62522L13.6619 22.5815C13.6324 22.6335 13.5606 22.6397 13.5229 22.5934L8.57785 16.5436C8.54116 16.4988 8.47194 16.503 8.44089 16.5521L0.0135644 29.8676C-0.0226682 29.9249 0.0179337 30.0001 0.0850861 30.0001H33.9149Z0" fill="currentColor"></path>
                                            </svg>
                                        </div>
                                        <div class="MyProjectCard__ContentSection-sc-1b0htfi-2 bVUosC">
                                            <div class="ProjectCardHeader__HeaderSection-sc-k0ryo3-0 kEVBKU">
                                                <div class="ProjectStatus__Wrapper-sc-1ufq4w-0 jtVZxc">
                                                    <div class="ProjectStatus__TagContainer-sc-1ufq4w-2 deMywg">
                                                        <div class="ProjectStatus__Tag-sc-1ufq4w-1 drAYLd">떨이</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ProjectCardInfo__Container-sc-gxiabq-1 fVDKRo">
                                                <h3 class="ProjectCardInfo__ProjectTitle-sc-gxiabq-2 gRMrrG">바나나</h3>
                                                <p class="ProjectCardInfo__ProjectDescription-sc-gxiabq-3 hpiwQj">[오커브팜] 델몬트 바나나 1송이 1.3kg 내외
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ProjectActionButtons__ButtonSection-sc-17qi5o2-0 dWalHu">
                                        <button class="ui-flex ui-items-center ui-justify-center [&_path]:ui-fill-current [&>svg]:ui-shrink-0 ui-h-[40px] ui-py-[11.5px] ui-px-[16px] ui-gap-1 ui-rounded-lg ui-body2-bold-small [&>svg]:ui-w-[18px] [&>svg]:ui-h-[18px] ui-bg-white ui-border ui-border-gray-200 ui-text-gray-500 enabled:hover:ui-bg-gray-150 enabled:active:ui-bg-gray-150 disabled:ui-border-gray-200 disabled:ui-text-gray-300 ActionButton-sc-12tyous-0 jOGpbc" type="button">이어서 작성하기</button>
                                        <button class="ui-flex ui-items-center ui-justify-center [&_path]:ui-fill-current [&>svg]:ui-shrink-0 ui-h-[40px] ui-py-[11.5px] ui-px-[16px] ui-gap-1 ui-rounded-lg ui-body2-bold-small [&>svg]:ui-w-[18px] [&>svg]:ui-h-[18px] ui-bg-white ui-border ui-border-gray-200 ui-text-gray-500 enabled:hover:ui-bg-gray-150 enabled:active:ui-bg-gray-150 disabled:ui-border-gray-200 disabled:ui-text-gray-300 DeleteButton__ActionButton-sc-djn3r4-1 gNlnmO" type="button" data-testid="delete-draft-button">
                                        <svg class="DeleteButton__TrashIcon-sc-djn3r4-0 kuTbgl" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 2.25V4.125H15.75V5.3252H14.625V15.75H3.375V5.3252H2.25V4.125H6V2.25H12ZM4.5752 14.5498H13.4248V5.3252H4.5752V14.5498ZM7.21582 13.125H6V7.125H7.21582V13.125ZM9.6084 13.125H8.3916V7.125H9.6084V13.125ZM12 13.125H10.7842V7.125H12V13.125ZM7.2002 4.0498H10.7998V3.4502H7.2002V4.0498Z" fill="#545454"></path>
                                        </svg> 
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="DraftProjectList__Divider-sc-1stre0p-6 00Kcogy"></div>
                </div>
            <div class="GuideSection__ButtonWrapper-sc-5rzied-0 00jnyVrL">
                
                </div>
            </div>
            <div class="FundingProjectList__FundingSection-sc-1lk4j0q-3 cgVaoB">
                <div class="FundingProjectList__TitleWrapper-sc-1lk4j0q-0 hkZpaU">
                        <div class="FundingProjectList__FundingTitle-sc-1lk4j0q-2 cxeQCL">내 상품</div> 
                    <dl>
                        <dt></dt>
                    <button>
                        
                    </button>
                    </dl>
                </div>                   
                    <div class="FundingProjectList__Divider-sc-1lk4j0q-1 kqkvyC"></div>
                    <div class="Tab__TabContainer-sc-qbckgm-0 byDHHi FundingProjectList__StyledTab-sc-1lk4j0q-4 hHWUwt">
                        <button class="Chip__Button-sc-ounpx6-2 giCeGC selected" type="button">
                            <div class="Chip__EllipsisOverOneLine-sc-ounpx6-3 irUGPW">전체 </div>
                        </button>
                        <button type="button" class="Chip__Button-sc-ounpx6-2 kHbIoh">
                            <div class="Chip__EllipsisOverOneLine-sc-ounpx6-3 irUGPW">내 떨이 1</div>
                        </button>
                    </div>
                    <div>
                    <div class="PcMyProjectCardList__StatusSection-sc-bftedq-1 bskaal">
                        <div class="PcMyProjectCardList__TitleRow-sc-bftedq-2 frDfLY">
                            <p class="PcMyProjectCardList__Title-sc-bftedq-3 iRfnjt">
                                내 떨이 1
                            </p>
                        </div>
                        <div class="PcMyProjectCardList__CardContainer-sc-bftedq-0 dwhDIf">
                            <div>
                                <div class="MyProjectCard__CardContainer-sc-1b0htfi-0 lcwzZc">
                                    <div class="MyProjectCard__ContentContainer-sc-1b0htfi-1 LjKBV">
                                        <div class="ProjectCardImageSection__ImageContainer-sc-1bdnkim-1 hsKrEl">
                                            <img alt="의류" decoding="sync" fetchpriority="high" src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctcHJvZCIsImtleSI6ImNvdmVyLzFlYTM4NWM5LTU5OTYtNGFjYi1iZWYwLWJhN2NmODI5NGQ0MC84MzU3OGE4Ni00NDRkLTRlNjQtOTNlNS04YTNmZjMyM2UyOWYucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo0NjUsImhlaWdodCI6NDY1LCJ3aXRob3V0RW5sYXJnZW1lbnQiOnRydWUsImZpdCI6bnVsbH0sInJvdW5kQ3JvcCI6ZmFsc2UsInJvdGF0ZSI6bnVsbH19?w=150&h=150&f=webp&q=80" width="150px" height="150px" class="ProjectCardImageSection__ProjectImage-sc-1bdnkim-2 hJdudL">

                                        </div>
                                        <div class="MyProjectCard__ContentSection-sc-1b0htfi-2 bVUosC">
                                            <div class="ProjectCardHeader__HeaderSection-sc-k0ryo3-0 kLIfXv">
                                                <div class="ProjectStatus__Wrapper-sc-1ufq4w-0 jtVZxc">
                                                    <div class="ProjectStatus__TagContainer-sc-1ufq4w-2 deMywg">
                                                        <div class="ProjectStatus__Tag-sc-1ufq4w-1 drAYLd">떨이</div>
                                                    </div>
                                                </div>
                                                <div class="ProjectCardHeader__ProjectCodeSection-sc-k0ryo3-1 eAoJCS">
                                                    
                                                </div>
                                            </div>
                                            <div class="ProjectCardInfo__Container-sc-gxiabq-1 fVDKRo">
                                                <h3 class="ProjectCardInfo__ProjectTitle-sc-gxiabq-2 hLfZdC">감귤</h3>
                                                <p class="ProjectCardInfo__ProjectDescription-sc-gxiabq-3 hpiwQj">고당도 타이벡 감귤(푸)</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ProjectActionButtons__ButtonSection-sc-17qi5o2-0 dWalHu">
                                        <button class="ui-flex ui-items-center ui-justify-center [&_path]:ui-fill-current [&>svg]:ui-shrink-0 ui-h-[40px] ui-py-[11.5px] ui-px-[16px] ui-gap-1 ui-rounded-lg ui-body2-bold-small [&>svg]:ui-w-[18px] [&>svg]:ui-h-[18px] ui-bg-white ui-border ui-border-gray-200 ui-text-gray-500 enabled:hover:ui-bg-gray-150 enabled:active:ui-bg-gray-150 disabled:ui-border-gray-200 disabled:ui-text-gray-300 ActionButton-sc-12tyous-0 jOGpbc" type="button">주문 상세</button> 
                                    </div>
                                </div>

<div class="MyProjectCard__CardContainer-sc-1b0htfi-0 lcwzZc">
                                    <div class="MyProjectCard__ContentContainer-sc-1b0htfi-1 LjKBV">
                                        <div class="ProjectCardImageSection__ImageContainer-sc-1bdnkim-1 hsKrEl">
                                            <img alt="의류" decoding="sync" fetchpriority="high" src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctcHJvZCIsImtleSI6ImNvdmVyLzFlYTM4NWM5LTU5OTYtNGFjYi1iZWYwLWJhN2NmODI5NGQ0MC84MzU3OGE4Ni00NDRkLTRlNjQtOTNlNS04YTNmZjMyM2UyOWYucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo0NjUsImhlaWdodCI6NDY1LCJ3aXRob3V0RW5sYXJnZW1lbnQiOnRydWUsImZpdCI6bnVsbH0sInJvdW5kQ3JvcCI6ZmFsc2UsInJvdGF0ZSI6bnVsbH19?w=150&h=150&f=webp&q=80" width="150px" height="150px" class="ProjectCardImageSection__ProjectImage-sc-1bdnkim-2 hJdudL">

                                        </div>
                                        <div class="MyProjectCard__ContentSection-sc-1b0htfi-2 bVUosC">
                                            <div class="ProjectCardHeader__HeaderSection-sc-k0ryo3-0 kLIfXv">
                                                <div class="ProjectStatus__Wrapper-sc-1ufq4w-0 jtVZxc">
                                                    <div class="ProjectStatus__TagContainer-sc-1ufq4w-2 deMywg">
                                                        <div class="ProjectStatus__Tag-sc-1ufq4w-1 drAYLd"></div>
                                                    </div>
                                                </div>
                                                <div class="ProjectCardHeader__ProjectCodeSection-sc-k0ryo3-1 eAoJCS">
                                                    
                                                </div>
                                            </div>
                                            <div class="ProjectCardInfo__Container-sc-gxiabq-1 fVDKRo">
                                                <h3 class="ProjectCardInfo__ProjectTitle-sc-gxiabq-2 hLfZdC">사과</h3>
                                                <p class="ProjectCardInfo__ProjectDescription-sc-gxiabq-3 hpiwQj">[FreshFruits] 프리미엄 사과 실속세트 [6과]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ProjectActionButtons__ButtonSection-sc-17qi5o2-0 dWalHu">
                                        <button class="ui-flex ui-items-center ui-justify-center [&_path]:ui-fill-current [&>svg]:ui-shrink-0 ui-h-[40px] ui-py-[11.5px] ui-px-[16px] ui-gap-1 ui-rounded-lg ui-body2-bold-small [&>svg]:ui-w-[18px] [&>svg]:ui-h-[18px] ui-bg-white ui-border ui-border-gray-200 ui-text-gray-500 enabled:hover:ui-bg-gray-150 enabled:active:ui-bg-gray-150 disabled:ui-border-gray-200 disabled:ui-text-gray-300 ActionButton-sc-12tyous-0 jOGpbc" type="button">주문 상세</button> 
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </main>
</body>
</html>