<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orderinquiry</title>
    <link rel="stylesheet" href="../../static/css/seller/Orderinquiry.css">
    
</head>
<body>
    <div id="react-view" class="entire">
        <div class="ScrollTopBtn_Wrapper">
            <button class="ScrollTop__Btn">
                <span>최상위로</span>
            </button>
            <div class="ScrollTop__Styled Icon">
                <svg height="18px" version="1.1" viewBox="0 0 22 18" width="22px" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd" id="Page-1" stroke="none">
                        <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                        <path d="M12.006,5.987 L22.75,16.437 C22.9,16.587 23,16.837 23,17.087 C23,17.338 22.9,17.587 22.7,17.737 C22.35,18.087 21.75,18.087 21.35,17.737 L12.006,8.587 L2.611,17.737 C2.261,18.087 1.662,18.087 1.262,17.737 C0.912,17.387 0.912,16.787 1.262,16.437 L12.006,5.987 L12.006,5.987 Z M22.175,0 C22.631,0 23,0.37 23,0.825 L23,0.877 C23,1.332 22.63,1.702 22.175,1.702 L1.825,1.702 C1.369,1.702 1,1.332 1,0.877 L1,0.825 C1,0.369 1.37,0 1.825,0 L22.175,0 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <section aria-label="Notifications alt+T" tabindex="-1" aria-live="polite" aria-relevant="additions text" aria-atomic="false"></section>
    <!-- 레이아웃 -->
    <main class="CreatorCenterLayout__Wrapper gqcQAp">
        <!-- 페이지 이름 -->
        <div class="CreatorCenterLayout__PageWrapper OWSFU">
            <div class="CreatorCenterLayout__TabListWrapper TjOFS">
                <div class>
                    <div class="ui-flex ui-overflow-x-auto ui-scrollbar-hide ui-border-b ui-border-gray-200 CreatorCenterLayout__TabList gSrLXe">
                        <!-- 내 상품 조회 버튼 -->
                        <button class="ui-px-[4px] ui-py-[10px] ui-transition-colors ui-pb-[14px] ui-body1-bold-small ui-whitespace-nowrap ui-flex-shrink-0 ui-border-b-2 ui-border-transparent ui-transition-all ui-duration-300 ui-ease-out ui-text-gray-300 CreatorCenterLayout__StyledTabTrigger_2 fquUPH" type="button">내 상품 조회</button>
                        <!-- 후기 조회 버튼 -->
                        <button class="ui-px-[4px] ui-py-[10px] ui-transition-colors ui-pb-[14px] ui-body1-bold-small ui-whitespace-nowrap ui-flex-shrink-0 ui-border-b-2 ui-border-transparent ui-transition-all ui-duration-300 ui-ease-out ui-text-gray-300 CreatorCenterLayout__StyledTabTrigger_2 fquUPH" type="button">후기 조회</button>
                        
                        <button class="ui-px-[4px] ui-py-[10px] ui-transition-colors ui-pb-[14px] ui-body1-bold-small ui-whitespace-nowrap ui-flex-shrink-0 ui-border-b-2 ui-border-gray-700 ui-transition-all ui-duration-300 ui-ease-out CreatorCenterLayout__StyledTabTrigger jcyoqr" type="button">주문 조회</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 주문 조회 레이아웃 -->
        <div class="Table__Wrapper hbTQqH">
            <div class="Table__Container jJdBFL">
                <table class="Table vpCBU">
                    <thead>
                        <tr class="TableHeader__TableHeaderRow kNctQQ">
                            <th class="TableHeader__TableHeader jFlVujs">
                             주문번호
                            </th>
                            <th class="TableHeader__TableHeader jFlVujs">
                            주문일자
                            </th>
                            <th class="TableHeader__TableHeader jFlVujs">총 결제 금액</th>
                            <th class="TableHeader__TableHeader jFlVujs">주문 상태</th>
                            <th class="TableHeader__TableHeader jFlVujs"> 주문 상세
                                
                        </tr>
                        <tr class="TableHeader__TableHeaderRow kNctQQ">
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                             20245517-000123
                            </th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                            2025.12.10
                            </th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">13,900원</th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">결제 완료</th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                                <button class="Table__Header kTLyef">
                                   상세보기
                                </button></th>
                        </tr
                        <tr class="TableHeader__TableHeaderRow kNctQQ">
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                             20245517-555123
                            </th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                            2025.12.26
                            </th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">22,900원</th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">배송 중</th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                                <button class="Table__Header kTLyef">
                                   상세보기
                                </button></th>
                        </tr>
                        <tr class="TableHeader__TableHeaderRow- kNctQQ">
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                             20245517-070123
                            </th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                            2026.01.30
                            </th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">35,900원</th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">취소</th>
                            <th class="TableHeader__TableHeaderCell jFlVuj">
                                <button class="Table__Header kTLyef">
                                   상세보기
                                </button></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </main>