<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 확인</title>
    <link rel="stylesheet" href="../../static/css/payment/check.css">
</head>
<body>
     <div id="react-view" class="entire">
        <div class="ScrollTop__ScrollTop Btn">
            <button class="ScrollTop__ScrollTop Btn2">
                <span>최상위로</span>
            </button>
            <div class="ScrollTop__Styled Icon">
                <svg height="18px" version="1.1" viewBox="0 0 22 18" width="22px" xmlns="http://www.w3.org/2000/svg">
                    <g fill-rule="evenodd" id="Page-1" stroke="none">
                        <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                        <path d="M12.006,5.987 L22.75,16.437 C22.9,16.587 23,16.837 23,17.087 C23,17.338 22.9,17.587 22.7,17.737 C22.35,18.087 21.75,18.087 21.35,17.737 L12.006,8.587 L2.611,17.737 C2.261,18.087 1.662,18.087 1.262,17.737 C0.912,17.387 0.912,16.787 1.262,16.437 L12.006,5.987 L12.006,5.987 Z M22.175,0 C22.631,0 23,0.37 23,0.825 L23,0.877 C23,1.332 22.63,1.702 22.175,1.702 L1.825,1.702 C1.369,1.702 1,1.332 1,0.877 L1,0.825 C1,0.369 1.37,0 1.825,0 L22.175,0 Z" id="Shape"></path>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <section aria-label="Notifications alt+T" tabindex="-1" aria-live="polite" aria-relevant="additions text" aria-atomic="false"></section>
    
    <main class="MainLayout__Wrapper background">
        <div class="Wrap1 Wrap2">
            <div class="WarrantyDetail__InfoBox Wrapper">
                <section class="Project__a IntroWrapper">
                    <a href="/apple">
                        <img alt="사과 이미지" src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctcHJvZCIsImtleSI6ImNvdmVyL2ViMGFjZmIyLTBjODQtNGE5OS05MzE3LTQxYmExZTA5MTkzYS80ZjYwNTlkNi1iY2JiLTRhYjgtYjY0YS1hOWM5NTllMjZmNjUucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo0NjUsImhlaWdodCI6NDY1LCJ3aXRob3V0RW5sYXJnZW1lbnQiOnRydWUsImZpdCI6bnVsbH0sInJvdW5kQ3JvcCI6ZmFsc2UsInJvdGF0ZSI6bnVsbH19" class="Product_image apple">
                    </a>
                    <div class="Project__ContentsWrapper title">
                        <span class="Project__Intro shopname">
                           과일
                            <span>|</span>
                           미래타운제1종합시장
                        </span>
                        <a href="/shop">
                           <p class="Project__a Titleapple">[FreshFruits] 프리미엄 사과 실속세트 (6과)</p>
                        </a>
                        <div class="Project__Detail Container ">
                            <strong class="MoneyInfo__Account count">
                            58,500
                            원
                            </strong>
                            <span class="MoneyInfo__Achievement">
                                10% 할인
                            </span>
                            <span class="MoneyInfo__Dot-sc-ghyw4o-2 iRUFGO">•</span>
                            <span class="MoneyInfo__State">결제 완료</span>
                        </div>
                    </div>
                    <div class="Project__ButtonContainer">
                        <div height="16" class="Spacing__Wrapper"></div>
                        <button id="Btn" class="ui-flex ui-items-center ui-justify-center [&_path]:ui-fill-current [&>svg]:ui-shrink-0 ui-h-[44px] ui-py-[12.5px] ui-px-[20px] ui-gap-1 ui-rounded-lg ui-body1-bold-small [&>svg]:ui-w-[20px] [&>svg]:ui-h-[20px] ui-bg-white ui-border ui-border-gray-200 ui-text-gray-500 enabled:hover:ui-bg-gray-150 enabled:active:ui-bg-gray-150 disabled:ui-border-gray-200 disabled:ui-text-gray-300 Project__StyledCreatorInquiryButton-sc-1gp66lf-5 cJzYPk" type="button">
                            <div name="chat" class="Icon__SVGICON-sc-bv7y1u-0 jqzjLF CreatorInquiryButton__AskCreatorButtonIcon-sc-1qwvpib-0 bnImUd">
                                <svg viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.93691 12.2063L10.9853 13.6766L12.0337 12.2063H14.7176V4.46085H3.28235V12.2063H9.93691ZM11.1124 15.3082C11.0488 15.3973 10.9218 15.3973 10.8582 15.3082L9.42073 13.2922H2.64706C2.42777 13.2922 2.25 13.1052 2.25 12.8746V3.79263C2.25 3.56198 2.42777 3.375 2.64706 3.375H15.3529C15.5722 3.375 15.75 3.56198 15.75 3.79263V12.8746C15.75 13.1052 15.5722 13.2922 15.3529 13.2922H12.5499L11.1124 15.3082Z" fill="#3D3D3D"></path>
                                    <ellipse cx="5.82341" cy="8.38654" rx="0.794118" ry="0.835267" fill="#3D3D3D"></ellipse>
                                    <ellipse cx="8.99993" cy="8.38654" rx="0.794118" ry="0.835267" fill="#3D3D3D"></ellipse>
                                    <ellipse cx="12.1764" cy="8.38654" rx="0.794118" ry="0.835267" fill="#3D3D3D"></ellipse>
                                </svg>
                            </div>
                            문의하기
                        </button>
                    </div>   
                </section>
                

                <div class="Info_Box_Wrap Box">
                <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">수령 정보</p> 
                </div>
                <div>
                <img src="../../static/images/qr/qrcode1.png" alt="QR 코드" class="Product_image qrcode">  
                </div>

                <div>
                    <button class="QRcode" type="button">QR코드 확인</button>
                </div>





                <div class="styled__Info Item">
                        <div class="styled__Info Title">수령 수단</div>
                        <div class="styled__Info ContentWrap">QR 코드</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">주문 상태</div>
                    <div class="styled__Info ContentWrap">결제 완료</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">주문번호</div>
                    <div class="styled__Info ContentWrap">20240417-000123</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">결제 일시</div>
                    <div class="styled__Info ContentWrap">2026.01.15</div>
                </div>
                 <div class="styled__Info Item">
                    <div class="styled__Info Title">수령 날짜</div>
                    <div class="styled__Info ContentWrap">2026.01.15</div>
                </div>
            </div>


                <div class="Info_Box_Wrap Box">
                    <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">주문자 정보</p>
                    </div>
                    <div>
                        <div class="styled__Info Item">
                            <div class="styled__Info Title">이름</div>
                        <div class="styled__Info ContentWrap">홍길동</div>
                        </div>
                        <div class="styled__Info Item">
                            <div class="styled__Info Title">휴대폰 번호</div>
                            <div class="styled__Info ContentWrap">010-1234-5678</div>
                        </div>
                        <div class="styled__Info Item">
                            <div class="styled__Info Title">이메일 주소</div>
                            <div class="styled__Info ContentWrap">honggildong@email.com</div>
                        </div>
                    </div>
                </div>


                <div class="Info_Box_Wrap Box">
                    <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">수령 정보</p>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">수령 수단</div>
                        <div class="styled__Info ContentWrap">택배</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">주문번호</div>
                        <div class="styled__Info ContentWrap">10009-40405-63525</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">주문일</div>
                        <div class="styled__Info ContentWrap">2026.01.15</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">배송 예정일</div>
                        <div class="styled__Info ContentWrap">2026.01.20</div>
                    </div>   
                </div>



                <div class="Info_Box_Wrap Box">
                    <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">배송지 정보</p>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">받으실분</div>
                        <div class="styled__Info ContentWrap">이순신</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">휴대폰 번호</div>
                        <div class="styled__Info ContentWrap">010-8765-4321</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">주소</div>
                        <div class="styled__Info ContentWrap">서울특별시 강남구 테헤란로 123, 101동 1001호</div>
                    </div>
                    <div class="styled__Info Item">
                        <div class="styled__Info Title">배송 메세지</div>
                       <div class="styled__Info ContentWrap">배송 전 미리 연락해 주세요</div>
                    </div>
                </div>

            <div class="Info_Box_Wrap Box">
                <div class="Info_Box Header">
                        <p class="Info_Box HeaderTitle">결제 정보</p>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">결제 수단</div>
                    <div class="styled__Info ContentWrap">무통장입금</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">주문금액</div>
                    <div class="styled__Info ContentWrap">53,900원</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">배송비</div>
                    <div class="styled__Info ContentWrap">2,000원</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">입금은행</div>
                    <div class="styled__Info ContentWrap">카카오뱅크</div>
                </div>
                <div class="styled__Info Item">
                    <div class="styled__Info Title">배송 메세지</div>
                    <div class="styled__Info ContentWrap">배송 전 미리 연락해 주세요</div>
                </div>
            </div>

            


        </div>
    </main>
</body>
<script src="../../static/js/payment/check.js"></script>
</html>