<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>결제</title>
    <link rel="stylesheet" href="/static/css/payment/payment.css">
</head>
<body>
    <div id="react-view" class="entire">
        <div class="ScrollTop__ScrollTopBtn Wrapper">
            <button class="ScrollTop__ScrollTopBtn Btn">
                <span>최상위로</span>
            </button>
            <div class="ScrollTop__Styled Icon">
                <svg
                    width="22px"
                    height="18px"
                    viewBox="0 0 22 18"
                    version="1.1"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <g fill-rule="evennodd" stroke="none">
                        <g id="jump-to-top" transform="translate(-1.000000, 0.000000)">
                            <path
                                d="M12.006,5.987 L22.75,16.437
                                   C22.9,16.587 23,16.837 23,17.087
                                   C23,17.338 22.9,17.587 22.7,17.737
                                   C22.35,18.087 21.75,18.087 21.35,17.737
                                   L12.006,8.587 L2.611,17.737
                                   C2.261,18.087 1.662,18.087 1.262,17.737
                                   C0.912,17.387 0.912,16.787 1.262,16.437
                                   L12.006,5.987 Z
                                   M22.175,0
                                   C22.631,0 23,0.37 23,0.825
                                   L23,0.877
                                   C23,1.332 22.63,1.702 22.175,1.702
                                   L1.825,1.702
                                   C1.369,1.702 1,1.332 1,0.877
                                   L1,0.825
                                   C1,0.369 1.37,0 1.825,0
                                   L22.175,0 Z"
                            />
                        </g>
                    </g>
                </svg>
            </div>
        </div>

        <section
            aria-label="Notifications alt+T"
            tabindex="-1"
            aria-live="polite"
            aria-relevant="additions text"
            aria-atomic="false"
        ></section>

        <main class="MainLayout__Wrapper background">
            <div class="Pledge__1 Wrapp">
                <div class="Pledge__2 Body">
                    <div class="Project__Section ProjectWrapper">
                        <section class="Project__a IntroWrapper">
                            <a href="/apple">
                                <img
                                    class="Product_image apple"
                                    alt="사과 이미지"
                                    src="https://img.tumblbug.com/eyJidWNrZXQiOiJ0dW1ibGJ1Zy1pbWctcHJvZCIsImtleSI6ImNvdmVyL2ViMGFjZmIyLTBjODQtNGE5OS05MzE3LTQxYmExZTA5MTkzYS80ZjYwNTlkNi1iY2JiLTRhYjgtYjY0YS1hOWM5NTllMjZmNjUucG5nIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo0NjUsImhlaWdodCI6NDY1LCJ3aXRob3V0RW5sYXJnZW1lbnQiOnRydWUsImZpdCI6bnVsbH0sInJvdW5kQ3JvcCI6ZmFsc2UsInJvdGF0ZSI6bnVsbH19">
                            </a>

                            <div class="Project__ContentsWrapper title">
                                <span class="Project__Intro shopname">
                                    과일 <span>|</span> 미래타운제1종합시장.
                                </span>

                                <a href="/shop">
                                    <p class="Project__a Titleapple">
                                        [FreshFruits] 프리미엄 사과 실속세트 (6과)
                                    </p>
                                </a>

                                <div class="Project__Detail Container">
                                    <strong class="MoneyInfo__Account count">
                                        58,500원
                                    </strong>
                                    <span class="MoneyInfo__Achievement">10% 할인</span>
                                    <span class="MoneyInfo__Dot-sc-ghyw4o-2 iRUFGO">•</span>
                                    <span class="MoneyInfo__State">결제 완료</span>
                                </div>
                            </div>
                        </section>
                    </div>

                    




                    
                    <div class="Container__ContainerComponent-sc-1ql5ckp-0 bOjKOH StyledTBB__column2Wrapper-sc-757i6a-2 Pledge__PledgePageWrapper-sc-1cwkqwg-5 BgVfT NLrsy">
                        <div class="Pledge__LeftSideContainer-sc-1cwkqwg-6 jkMqrx container">

                                <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDs">
                                <div class="SettingForm__Wrapper-sc-1ygj7as-0 cORMrX">
                                    <div class="SettingForm__FormHeader-sc-1ygj7as-1 fOubCv fnt-p1">
                                        <p class="SettingForm__FormTitle-sc-1ygj7as-2 hLdtkm">수령 방식</p>
                                    </div>
                                    <div class="RoundedWrapper__Wrapper-sc-1me1i3o-0 kGdLSK">
                                        <div class="RadioSelector__Wrapper-sc-1gtvrlw-0 duZJFK PaymentRadioSelector__StyledRadioSelector-sc-a4ockm-0 hFNMZa flex">
                                            <div class="ListElementComponent__Wrapper-sc-1qe5g22-0 kgSInJ PaymentRadioSelector__StyledListElementComponent-sc-a4ockm-1 hbMPtL" data-testid="list-1" type="payment">
                                                <div class="RadioSelector__StyledRadio-sc-1gtvrlw-3 fYMwrl radioComponent">
                                                    <label class="RadioSelector__StyledLabel-sc-1gtvrlw-1 kKqGkI">
                                                        <div class="RadioSelector__StyledRadioWrapper">
                                                            <input type="radio" name="paymentType" class="RadioSelector__StyledInput" value="delivery" checked>
                                                        </div>
                                                        <div class="PaymentRadioSelector__Label-sc-a4ockm-2 gfjoLX">택배</div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="ListElementComponent__Wrapper-sc-1qe5g22-0 kgSInJ PaymentRadioSelector__StyledListElementComponent-sc-a4ockm-1 hbMPtL" data-testid="list-0" type="payment">
                                                <div class="RadioSelector__StyledRadio-sc-1gtvrlw-3 fYMwrl radioComponent">
                                                    <label class="RadioSelector__StyledLabel">
                                                        <div class="RadioSelector__StyledRadioWrapper">
                                                            <input type="radio" name="paymentType" class="RadioSelector__StyledInput" value="qr" >
                                                        </div>
                                                        <div class="PaymentRadioSelector__Label-sc-a4ockm-2 gfjoLX">
                                                            QR 코드
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                                
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

 <div class="Pledge__CardWrapper-sc-1cwkqwg-9 Pledge__RewardWrapper-sc-1cwkqwg-10 eeBRDs bLqfkh">
                                <div class="SettingForm__Wrapper off" >
                                    <div class="SettingForm__FormHeader-sc-1ygj7as-1 fOubCv fnt-p1">
                                        <p class="SettingForm__FormTitle-sc-1ygj7as-2 hLdtkm">직접 수령</p>
                                    </div>

                                    <div class="RoundedWrapper__Wrapper-sc-1me1i3o-0 kGdLSK RewardSection__FlexRoundedWrapper-sc-13loojw-1 hmYlQy">
                                        <table>
                                            <tbody>
                                               
                                                <tr>
                                                    <th>가게 이름</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            미호 유통
                                                        </span>
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <th>상품 이름</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            [FreshFruits] 프리미엄 사과 실속세트 [6과]
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>상품 가격</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            53,900원
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


<!-- <div class="receive-type">
    <label>
        <input type="radio" name="receiveType" value="qr" checked>
        QR 코드
    </label>

    <label>
        <input type="radio" name="receiveType" value="delivery">
        택배
    </label>
</div>

QR 코드 선택 시 보여줄 영역 -->
<!-- <div class="SettingForm__Wrapper off">
    직접 수령 내용...
</div> -->





                            <div class="Pledge__CardWrapper-sc-1cwkqwg-9 Pledge__RewardWrapper-sc-1cwkqwg-10 eeBRDs bLqfkh">
                                <div class="SettingForm__Wrapper-sc-1ygj7as-0 cORMrX RewardSection__RewardWrapper-sc-13loojw-0 cyYYNw">
                                    <div class="SettingForm__FormHeader-sc-1ygj7as-1 fOubCv fnt-p1">
                                        <p class="SettingForm__FormTitle-sc-1ygj7as-2 hLdtkm">업체 배송</p>
                                    </div>

                                    <div class="RoundedWrapper__Wrapper-sc-1me1i3o-0 kGdLSK RewardSection__FlexRoundedWrapper-sc-13loojw-1 hmYlQy">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>가게 이름</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            미호 유통
                                                        </span>
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <th>상품 이름</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            [FreshFruits] 프리미엄 사과 실속세트 [6과]
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>상품 가격</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            53,900원
                                                        </span>
                                                    </td>
                                                </tr>
                                                    <th>배송비</th>
                                                    <td>2,000원</td>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                          


                            <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDss"></div>
                            <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDss">
                                <div class="SettingForm__Wrapper-sc-1ygj7as-0 cORMrX">
                                    <div class="SettingForm__FormHeader-sc-1ygj7as-1 fOubCv fnt-p1">
                                        <p class="SettingForm__FormTitle-sc-1ygj7as-2 hLdtkm">주문자 정보</p>
                                    </div>



                                     <div class="RoundedWrapper__Wrapper-sc-1me1i3o-0 kGdLSK RewardSection__FlexRoundedWrapper-sc-13loojw-1 hmYlQy">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th class="name">이름</th>
                                                    <td class="name__name" style="color: rgb(61, 61, 61);">
                                                        <input class="ainput" type="text" name="_oname" autocomplete="off" placeholder="홍길동">
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <th class="phonenumber">휴대폰 번호</th>
                                                    <td class="phonenumber__phonenumber" style="color: rgb(61, 61, 61);">
                                                        <input class="ainput" type="tel" name="_ohp" autocomplete="off" placeholder="010-1234-5678">
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="email">이메일 주소</th>
                                                    <td class="email__email email-left" style="color : rgb(61, 61, 61);">
                                                     <input class="ainput email-id" type="text" name="_oemail" placeholder="honggildong">
                                                        <span class="unit">@</span>
                                                        <div class="js_email_select" style="display: inline-block;">
            
                                                            <select class="category" id="selected-domain">
                                                                <option value="non">선택하세요</option>
                                                                <option value="naver.com">naver.com</option>
                                                                <option value="daum.net">daum.net</option>
                                                                <option value="gmail.com">gmail.com</option>
                                                                <option value="hanmail.net">hanmail.net</option>
                                                                <option value="직접 입력">직접 입력</option>
                                                         </select>
                                                            <input id="selected-data"  class="typing-input" type="text" placeholder="직접 입력">
                                                        </div>
                                                    </td>                                               
                                                </tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>

                              <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDss"></div>
                            <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDss">
                                <div class="SettingForm__Wrapper-sc-1ygj7as-0 cORMrX">
                                    <div class="SettingForm__FormHeader-sc-1ygj7as-1 fOubCv fnt-p1">
                                        <p class="SettingForm__FormTitle-sc-1ygj7as-2 hLdtkm">배송지 정보</p>
                                    </div>



                                     <div class="RoundedWrapper__Wrapper-sc-1me1i3o-0 kGdLSK RewardSection__FlexRoundedWrapper-sc-13loojw-1 hmYlQy">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th class="name">받으실분</th>
                                                    <td class="name__name" style="color: rgb(61, 61, 61);">
                                                        <input class="abinput" type="text" name="_oname" autocomplete="off" placeholder="이순신">
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <th class="phonenumber">휴대폰 번호</th>
                                                    <td class="phonenumber__phonenumber" style="color: rgb(61, 61, 61);">
                                                        <input class="abinput" type="tel" name="_ohp" autocomplete="off" placeholder="010-8765-4321">
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="name">주소</th>
                                                <td class="name__name" style="color: rgb(61, 61, 61);">
                                                    <div style="display: flex; align-items: center; gap: 5px; margin-bottom: 5px;">
                                                        <input class="abinput-1" type="text" id="sample4_postcode" placeholder="우편번호" style="width: 100px;">
                                                        <div class="btn-wrap">
                                                            <a href="#none" onclick="sample4_execDaumPostcode()" class="c_btn h45 black line">우편번호 찾기</a>
                                                        </div>
                                                    </div>
                                                    <input type="text" id="sample4_jibunAddress"  placeholder=" 지번주소" style="display: block; width: 100%; box-sizing: border-box; " >
                                                    <input class="abinput" type="text"  id="sample4_roadAddress" placeholder="도로명 주소" style="display: block; width: 100%; margin-bottom: 5px; box-sizing: border-box;">
                                                    <input class="abinput" type="text" id="sample4_detailAddress" placeholder="상세주소" style="display: block; width: 100%; box-sizing: border-box;">
                                                </td>
                                                </tr>







                                                
                          

                                                









                                                
                                                 <tr>
                                                    <th class="email">배송 메세지</th>
                                                    <td class="email__email email-left" style="color : rgb(61, 61, 61);">
                                                    <div class="js_email_select" style="display: inline-block;">
            
                                                            <select class="category" id="selected-domain-2">
                                                                <option value="non">배송 메세지를 선택해주세요.</option>
                                                                <option value="1">배송전에 미리 연락바랍니다.</option>
                                                                <option value="2">부재시 경비실에 맡겨주세요.</option>
                                                                <option value="3">부재시 전화주시거나 문자 남겨주세요.</option>
                                                                <option value="직접 입력">직접 입력</option>
                                                         </select>
                                                            <input id="selected-data-2" class="typing-input" type="text" placeholder="직접 입력">
                                                        </div>
                                                    </td>                                               
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>





                            <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDs"></div>
                            <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDs">
                                <div class="SettingForm__Wrapper-sc-1ygj7as-0 cORMrX">
                                    <div class="SettingForm__FormHeader-sc-1ygj7as-1 fOubCv fnt-p1">
                                        <p class="SettingForm__FormTitle-sc-1ygj7as-2 hLdtkm">수령 방식</p>
                                    </div>



                                     <div class="RoundedWrapper__Wrapper-sc-1me1i3o-0 kGdLSK RewardSection__FlexRoundedWrapper-sc-13loojw-1 hmYlQy">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>받으실 분</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            이순신
                                                        </span>
                                                    </td>
                                                </tr>
                                                 <tr>
                                                    <th>휴대폰 번호</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            010-8765-4321
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>주소</th>
                                                    <td class="RewardComposition__RewardContainer-sc-1gzqoea-11 bKvTky">
                                                        <span class="RewardComposition__RewardLabel-sc-1gzqoea-1 dJBfNH">
                                                            서울특별시 강남구 테헤란로 123, 101동 1001호
                                                        </span>
                                                    </td>
                                                </tr>
                                                    <th>배송 메세지</th>
                                                    <td>배송 전 미리 연락해 주세요</td>
                                            </tbody>
                                        </table>
                                    </div>
                               
                                </div>
                            </div>




                                <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDs">
                                <div class="SettingForm__Wrapper-sc-1ygj7as-0 cORMrX">
                                    <div class="SettingForm__FormHeader-sc-1ygj7as-1 fOubCv fnt-p1">
                                        <p class="SettingForm__FormTitle-sc-1ygj7as-2 hLdtkm">결제 수단</p>
                                    </div>
                                <div class="RoundedWrapper__Wrapper-sc-1me1i3o-0 kGdLSK RewardSection__FlexRoundedWrapper-sc-13loojw-1 hmYlQy RoundedWrapper__Wrapper-sc-1me1i3o-1 payment">
                                        
                                    <button onclick="pay()" class="c_btn h50 color">결제하기</button>    
                            
                                            
                                        </a>
                                    </div>
                                    </div> 















                            
                            <!-- <div class="Pledge__CardWrapper-sc-1cwkqwg-9 eeBRDs">
                                <div class="SettingForm__Wrapper-sc-1ygj7as-0 cORMrX">
                                    <div class="SettingForm__FormHeader-sc-1ygj7as-1 fOubCv fnt-p1">
                                        <p class="SettingForm__FormTitle-sc-1ygj7as-2 hLdtkm">결제 수단</p>
                                    </div>
                                    <div class="RoundedWrapper__Wrapper-sc-1me1i3o-0 kGdLSK">
                                        <div class="RadioSelector__Wrapper-sc-1gtvrlw-0 duZJFK PaymentRadioSelector__StyledRadioSelector-sc-a4ockm-0 hFNMZa flex">
                                            <div class="ListElementComponent__Wrapper-sc-1qe5g22-0 kgSInJ PaymentRadioSelector__StyledListElementComponent-sc-a4ockm-1 hbMPtL" data-testid="list-0" type="payment">
                                                <div class="RadioSelector__StyledRadio-sc-1gtvrlw-3 fYMwrl radioComponent">
                                                    <label class="RadioSelector__StyledLabel-sc-1gtvrlw-1 kKqGkI">
                                                        <div class="RadioSelector__StyledRadioWrapper-sc-1gtvrlw-4 bEYdfr radioComponent-wrapper">
                                                            <input name="paymentType" type="radio" class="RadioSelector__StyledInput-sc-1gtvrlw-2 kbWbdT" checked>
                                                        </div>
                                                        <div class="PaymentRadioSelector__Label-sc-a4ockm-2 gfjoLX">
                                                            카드 간편결제
                                                            <span class="PaymentRadioSelector__Tag-sc-a4ockm-3 jTPxtl">할부 가능</span>
                                                        </div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="ListElementComponent__Wrapper-sc-1qe5g22-0 kgSInJ PaymentRadioSelector__StyledListElementComponent-sc-a4ockm-1 hbMPtL" data-testid="list-1" type="payment">
                                                <div class="RadioSelector__StyledRadio-sc-1gtvrlw-3 fYMwrl radioComponent">
                                                    <label class="RadioSelector__StyledLabel-sc-1gtvrlw-1 kKqGkI">
                                                        <div class="RadioSelector__StyledRadioWrapper-sc-1gtvrlw-4 zzbKT radioComponent-wrapper">
                                                            <input name="paymentType" type="radio" class="RadioSelector__StyledInput-sc-1gtvrlw-2 kbWbdT">
                                                        </div>
                                                        <div class="PaymentRadioSelector__Label-sc-a4ockm-2 gfjoLX">네이버 페이(Npay)</div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="ListElementComponent__Wrapper-sc-1qe5g22-0 kgSInJ PaymentRadioSelector__StyledListElementComponent-sc-a4ockm-1 hbMPtL" data-testid="list-2" type="payment">
                                                <div class="RadioSelector__StyledRadio-sc-1gtvrlw-3 fYMwrl radioComponent">
                                                    <label class="RadioSelector__StyledLabel-sc-1gtvrlw-1 kKqGkI">
                                                        <div class="RadioSelector__StyledRadioWrapper-sc-1gtvrlw-4 zzbKT radioComponent-wrapper">
                                                            <input name="paymentType" type="radio" class="RadioSelector__StyledInput-sc-1gtvrlw-2 kbWbdT">
                                                        </div>
                                                        <div class="PaymentRadioSelector__Label-sc-a4ockm-2 gfjoLX">계좌이체</div>
                                                    </label>
                                                </div>
                                            </div>     
                                        </div>
                                        <div class="style__AddButton-sc-1mhwlru-0 gpQzhZ">
                                            <span>
                                                +
                                                카드
                                                등록
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->


<!-- <input type="text" id="sample4_postcode" placeholder="우편번호">
<input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
<input type="text" id="sample4_roadAddress" placeholder="도로명주소">
<input type="text" id="sample4_jibunAddress" placeholder="지번주소">
<span id="guide" style="color:#999;display:none"></span>
<input type="text" id="sample4_detailAddress" placeholder="상세주소">
<input type="text" id="sample4_extraAddress" placeholder="참고항목"> -->
                            
                        </div>
                       
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="../../static/js/payment/payment.js"></script>
    <script src="https://js.bootpay.co.kr/bootpay-5.0.2.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>



      