<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/review.css">
    <link rel="stylesheet" href="../../static/css/mypage.css">
</head>
<body>
    <main class="MainLayout-Wrapper">
        <div class="ReivewDetail-Wrapper">
            <div class="ReivewDetail-SubHeader">
                <span>후기 상세</span>
            </div>

            <div class="ReviewDetail-Container">
                <div class="ReviewDetail-ItemInner">
                    <div>
                        <!-- 후기작성 회원정보 부분 -->
                        <div class="ReviewDetail-HeaderContainer">
                            <div class="ReviewDetail-ProfileWrapper">
                                <img alt="profile" src="../../static/images/haetsal-jangteo-logo.svg"
                                class="ReviewDetail-ProfileImg">
                                <div class="ReviewDetail-Profile">
                                    <div class="ReviewDetail-ProfileName">
                                        <a href="" class="ProfileHeader-ProfileNameA">홍길동</a>
                                    </div>
                                    <div class="ReviewDetail-ProfileInfo">
                                        <!-- 각 숫자 js로 넣기 -->
                                        <span class="ReviewDetail-Label">구매한 상품 2</span>
                                        <span class="ReviewDetail-Dot">·</span>
                                        <span class="ReviewDetail-Label">후기 4</span>
                                    </div>
                                </div>
                            </div>

                            <!-- 클릭 시 활성화 -->
                            <div class="DropDown-Wrapper">
                                <div class="DropDown-TriggerWrapper">
                                    <div class="DropDown-TriggerSvg">
                                        <svg viewBox="0 0 48 48"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.4 19C8.83 19 10.8 20.97 10.8 23.4C10.8 25.83 8.83 27.8 6.4 27.8C3.97 27.8 2 25.83 2 23.4C2 20.97 3.97 19 6.4 19ZM24.0001 19C26.4301 19 28.4001 20.97 28.4001 23.4C28.4001 25.83 26.4301 27.8 24.0001 27.8C21.5701 27.8 19.6001 25.83 19.6001 23.4C19.6001 20.97 21.5701 19 24.0001 19ZM45.9997 23.4C45.9997 20.97 44.0307 19 41.5997 19C39.1697 19 37.2007 20.97 37.2007 23.4C37.2007 25.83 39.1697 27.8 41.5997 27.8C44.0307 27.8 45.9997 25.83 45.9997 23.4Z"></path></svg>
                                    </div>
                                    <!-- js로 클릭시, 활성화 display: flex; -->
                                    <ul width="205" class="DropDown-Menu off">
                                        <li>
                                            <button class="DropDown-MenuBtn">신고</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- 후기를 남긴 상품 링크 -->
                        <div class="ReviewDetail-FooterContainer">
                            <a href="" class="ReviewDetail-ItemLink">
                                <img alt="상품 요약 이미지" src="../../static/images/haetsal-jangteo-logo.svg" class="ReviewDetail-ItemThumnail">
                                <div class="ReviewDetail-ItemTitle">상품 이름이 표시됩니다.</div>
                            </a>
                        </div>
                        <!-- 후기 작성내용 부분 -->
                        <div class="ReviewDetail-BodyContainer">
                            <!-- 상품 리뷰 부분 -->
                            <div class="ReviewDetail-KeyWordContainer">
                                <div class="ReviewDetail-KeyWordItem">
                                    <p class="ReviewDetail-KeyWord">품질</p>
                                    <p class="ReviewDetail-OptionValue">만족해요</p>
                                </div>
                                <div class="ReviewDetail-KeyWordItem">
                                    <p class="ReviewDetail-KeyWord">주문/배송</p>
                                    <p class="ReviewDetail-OptionValue">빨랐어요</p>
                                </div>
                                <div class="ReviewDetail-KeyWordItem">
                                    <p class="ReviewDetail-KeyWord">친절</p>
                                    <p class="ReviewDetail-OptionValue">친절했어요</p>
                                </div>
                            </div>
                            <!-- 상품 리뷰 상세 부분 -->
                            <div class="ReviewDetail-Paragraph">
                                여기에 리뷰에 대한 상세한 내용이 들어갑니다.
                            </div>
                        </div>
                        <!-- 후기 이미지 부분 -->
                        <div class="ReviewDetail-ImageContainer">
                            <div class="ReviewDetail-ImageList">
                                <div>
                                    <img alt="review-img" src="../../static/images/TempItem-Image.png" class="ReviewDetail-Image">
                                </div>
                                <div>
                                    <img alt="review-img" src="../../static/images/TempItem-Image.png" class="ReviewDetail-Image">
                                </div>
                                <div>
                                    <img alt="review-img" src="../../static/images/TempItem-Image.png" class="ReviewDetail-Image">
                                </div>
                                <div>
                                    <img alt="review-img" src="../../static/images/TempItem-Image.png" class="ReviewDetail-Image">
                                </div>
                                <div>
                                    <img alt="review-img" src="../../static/images/TempItem-Image.png" class="ReviewDetail-Image">
                                </div>
                                <div>
                                    <img alt="review-img" src="../../static/images/TempItem-Image.png" class="ReviewDetail-Image">
                                </div>
                                <div>
                                    <img alt="review-img" src="../../static/images/TempItem-Image.png" class="ReviewDetail-Image">
                                </div>
                            </div>
                        </div>
                        <!-- 후기 작성 시간 부분 -->
                        <div class="ReviewDetail-ThumsUpContainer">
                            <div class="ThumsUp-Wrapper">
                                <div class="ThumsUp-Left">
                                    <!-- 작성된 시간 표시하기 -->
                                    <span>2026.01.14</span>
                                </div>
                                <div class="ThumsUp-Right">
                                    <div class="ThumsUp-Buttons">
                                        <div class="ThumsUp-disLikeBtn">
                                            <svg height="24" width="24" class="" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.9591 9L18.1818 19.052V37H34.9682L40 24.96V18.8H28.6682L30.1955 11.268L27.9591 9ZM10 20.2H15.4545V37H10V20.2Z" fill="#3D3D3D"></path></svg>
                                        </div>
                                        <div class="ThumsUp-likeBtn">
                                            <svg height="24" width="24" class="" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.9591 9L18.1818 19.052V37H34.9682L40 24.96V18.8H28.6682L30.1955 11.268L27.9591 9ZM10 20.2H15.4545V37H10V20.2Z" fill="#3D3D3D"></path></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="../../static/js/reivew.js"></script>
</html>